[2015-07-16 20:55] Stephen-Gates commented on #560
@pwalsh
At the time, I believe the things that motivated me to change were:
 - I thought the wording of some questions was awkward.
 - I wanted to align the order of the questions with the [methodology scoring](http://index.okfn.org/methodology/) legal and technical groupings.

Now, I am happy to use the standard questions because:
- the legal and technical groups [have been challenged](https://di

[2015-07-19 10:41] pwalsh commented on #560
Hi @Stephen-Gates

Thanks for the explanation. I will change to the standard question sheet, but please, do follow up these issues with @morchickit and if we need to change this back to a custom sheet, we can do that. I can also add support for Australian if we really need it :).

[2015-07-19 11:52] pwalsh commented on #559
This is fixed. The order is now configurable for each census via the "order" property in the sheet. the value can be any valid integer from 0.

See the example here on the Australian census: https://docs.google.com/spreadsheets/d/1GOGRXgnYSAgl8rOEy4nkd8HfPDTWC8RHfv7fvKJddRA/edit#gid=2

http://australia.next.census.okfn.org/

To change order:

* Change the values in the sheet
* Reload the dataset c

[2015-07-19 11:52] #559 closed

[2015-07-19 11:52] pwalsh commented on #557
FIXED.

[2015-07-19 11:52] #557 closed

[2015-07-19 11:53] pwalsh commented on #556
FIXED. Was missing some data from the old "Entries" table for local sites, probably due to a filter in Google Spreadsheets when I exported the data.

[2015-07-19 11:53] #556 closed

[2015-07-19 11:56] pwalsh commented on #560
Hi Stephen. Now I see that with this issue, you meant the existing code, and now the new code. I'm porting over the "next" over to the main domains in the next 24 hours, and there will be some downtime during this while old DNS records are removed and new ones resolve. So, instead of fixing this old site, we'll just wait for the actual move.

[2015-07-19 11:56] #560 closed

[2015-07-19 20:27] Stephen-Gates opened #562 "Dataset name missing in {{datasets}}"
Using {{datasets}} in http://australia.next.census.okfn.org/faq/#questions the dataset name is missing
<img width="998" alt="screenshot 2015-07-20 06 21 32" src="https://cloud.githubusercontent.com/assets/9379524/8767701/7e15a2b6-2ea8-11e5-8327-9e3b89baaff5.png">

[2015-07-19 20:39] Stephen-Gates opened #563 "Obvious way to return to current year"
After exploring earlier years (i.e. 2013 | 2014) there is no obvious way to return to 2015. I know you can go to the home page but I wonder if adding arrows or an extra label would help.
e.g.  <- 2014 ->   or   2013 | **2014** | 2015

<img width="640" alt="screenshot 2015-07-20 06 34 46" src="https://cloud.githubusercontent.com/assets/9379524/8767754/1e28776e-2eaa-11e5-8820-2d7dc6d6bb39.png">

[2015-07-19 22:03] morchickit commented on #555
Well, from the Israeli case, apparently even a law didn't prevent government officials to take civil society to court about bills copyrights (which, by Israeli law are creative commons)... so I inclined to keep the license, unless it's a unique case like Iceland.
@rgrp - your thoughts?

[2015-07-20 01:27] ppKrauss commented on #555
@morchickit thanks! Allow me to explain further, I edited the question and added links, now perhaps more readable avoiding mistakes... Sorry I haven't done it before.

About Israeli law-documents, are [CC-BY](https://creativecommons.org/licenses/by/3.0/),   [CC0](https://creativecommons.org/publicdomain/zero/1.0/legalcode) or another creative commons?

The  PDF [law-documents of UK](http://www.leg

[2015-07-20 09:16] pwalsh commented on #562
fixed.

[2015-07-20 09:16] #562 closed

[2015-07-20 09:16] pwalsh commented on #563
Ok. The "other years" section needs a bit of design work done too.

[2015-07-20 10:11] pwalsh commented on #558
@Stephen-Gates I've added a bunch of information to the site admin view. It is not pretty, but it works. This is all I can do for now, but please feel free to open a separate issue with specific improvements for the admin user experience, and we'll schedule them in.

[2015-07-20 10:11] #558 closed

[2015-07-20 10:18] pwalsh commented on #563
I've added this to the year navigation.

[2015-07-20 10:18] #563 closed

[2015-07-20 10:39] Stephen-Gates opened #564 "Compare results by year in regional and local open data census"
The Global Open Data Index (GODI) provides the ability to compare results between years. This sort of comparison is important to engage stakeholders in discussions regarding the need to improve. Consider adding the ability to demonstrate progress over time. This could include the ability to:
- download data by year so users can create their own charts
- showing the change from the last period (see

[2015-07-20 10:53] Stephen-Gates commented on #558
Well @pwalsh, that's a little bit awesome. :-)

[2015-07-20 11:04] Stephen-Gates opened #565 "Excessive anonymous contributors and anonymous editors"
Rollup anonymous contributors to avoid pages that look like this...
(not quite sure how we have anonymous editors)

<img width="967" alt="screenshot 2015-07-20 20 59 35" src="https://cloud.githubusercontent.com/assets/9379524/8774510/6485354e-2f22-11e5-8a57-a2c469e0a303.png">

[2015-07-20 11:23] Stephen-Gates opened #566 "Formating and missing data on place/dataset/year pages"
Few issues on these pages:
- missing Data Location value (but available on dataset/year page)
- timely data text wrapping is awkward
- excessive anonymous submitters (see #565)
- still has tool tip issue (similar to #507)

<img width="963" alt="screenshot 2015-07-20 21 19 40" src="https://cloud.githubusercontent.com/assets/9379524/8774773/149c9cae-2f25-11e5-9a0c-e307e8882fe5.png">

[2015-07-20 12:30] pwalsh commented on #565
Fixed.

[2015-07-20 12:30] #565 closed

[2015-07-20 12:45] Stephen-Gates opened #567 "Submitter shown as Editor/Reviewer"
Mark Cottman-Fields is not an editor/reviewer for Australia's Regional Open Data Census.
This submission has been made but not reviewed by editors.

Same issue occurs on:
- http://australia.next.census.okfn.org/entry/qld/crime-stats/2015 (uses term reviewer)
- http://australia.next.census.okfn.org/place/qld/2015 (uses term editor - not sure how this differs from reviewer)

<img width="828" alt="sc

[2015-07-20 12:48] pwalsh commented on #567
When a submission is made, and no entry exists, it automatically becomes an entry, and therefore, the submitter becomes the reviewer. If we put aside for a moment whether that is right or wrong behaviour, does that explain what you see here?

[2015-07-20 12:49] Stephen-Gates commented on #567
Yes, Mark's submission was the first.

[2015-07-20 12:53] pwalsh commented on #567
Ok. @morchickit @Stephen-Gates  what do you think about this?

The current code sets the submitter as the reviewer, when the submitter's submission gets automatically set as the "current entry".

I see no particular problem with this. I can probably change it if we must.

[2015-07-20 12:58] Stephen-Gates commented on #567
@pwalsh the behaviour is explainable but in my view not ideal. I'd prefer to put it on the backlog and focus on getting the census back online.

[2015-07-20 15:47] pwalsh commented on #567
Ok, I'm leaving it as is (unless @morchickit has further comments). Any future changes then will not be retroactive, if we do change the behaviour in the future.

[2015-07-20 20:54] morchickit commented on #567
So, in theory - this should not be a problem for the Global Index, but I can see how it can be a problem for the local index. Let's put it on the local backlog?
@Stephen-Gates - you are doing an amazing job, keep flagging if you think we should change something in any time, we will review it later.

[2015-07-20 20:56] morchickit commented on #555
So, in Israel, the law is equivalent to CC-BY, BUT the website never states it. So, the legal department of the parliament see it as free license when it is actually not stating it anywhere in the website.
@tryggvib - can you elaborate about the Iceland case?

[2015-07-20 21:42] tryggvib commented on #555
The Icelandic "Information law" of 2012 has an article (article 30) on reuse of public sector information, here it is translated by me:

These are the general terms in Iceland for all public sector information that has been made available. Of these I have discussed the explicit mention of *copyright law* in the first item of the list which in my opinion can cause confusion, but lawyers I've discus

[2015-07-21 11:19] ppKrauss commented on #555
Hi, thanks for all, I will reply (!)... But I need some time to work with a "discussion consolidation" at https://github.com/ppKrauss/openCoherence

Here an [example of consolidated discussion about "Brazilian inferred license"](https://github.com/ppKrauss/openCoherence/blob/master/reports/inferredLicense-BR.md)... I thing other can follow this model and [this template](https://github.com/ppKrauss

[2015-07-21 15:47] pwalsh commented on #567
This is now on backlog. Current behaviour remains.

[2015-07-21 15:59] pwalsh commented on #561
This is fixed now. If you find this not to be the case @oxguy3 please let me know, and open a specific ticket with the details.

[2015-07-21 15:59] #561 closed

[2015-07-21 16:19] pwalsh opened #568 "Some rough edges around new id and auth domain flows"
The new multi-tenant architecture has a subdomain for "system admin" stuff (defaults to `system`) and a subdomain for auth stuff (defaults to `id`).

There are some rough edges in flows that system admins can make, and on the ID domain, the route of `/` has no meaning...

Some nice work could be done here to ensure that users always get redirected to a useful view on these domains.

[2015-07-21 16:21] pwalsh commented on #323
Is this still relevant @ondrae ?

As I see it, this is not easy to implement, and would be easy to game. Do you have any suggestions?

[2015-07-21 16:23] pwalsh commented on #191
@morchickit There is a lot of info here, and it is not relevant to code.

I'm closing this issue, as it is really in your domain of methodology.

If anything here needs further discussion, it should be taken up on the forum (or, @morchickit, you could copy some or all of this into a thread there): https://discuss.okfn.org/c/open-data-index

[2015-07-21 16:23] #191 closed

[2015-07-21 16:39] pwalsh commented on #472
Such users now get a message on the review page(s).

[2015-07-21 16:39] #472 closed

[2015-07-21 16:41] pwalsh commented on #314
no longer relevant. one instance now hosts many sites, and deployment is just normal git/heroku stuff.

[2015-07-21 16:41] #314 closed

[2015-07-21 16:41] pwalsh commented on #313
no longer relevant. one instance now hosts many sites, and deployment is just normal git/heroku stuff.

[2015-07-21 16:41] #313 closed

[2015-07-21 16:42] pwalsh commented on #204
@morchickit this seems quite esoteric, and it is almost 2 years old. I'm closing this issue, but if you want it, please capture it in a new user story.

[2015-07-21 16:42] #204 closed

[2015-07-21 16:43] pwalsh opened #569 "Tidy up old CLI"
The nice [CLI](https://github.com/okfn/opendatacensus/tree/develop/bin) we have needs cleaning up for the new codebase.

[2015-07-21 16:47] pwalsh commented on #322
@morchickit this is related to https://github.com/okfn/opendatacensus/issues/204 and the comments I made there.

1. Do we want to add something like this?
2. If yes, can it be captured in a new user story.

@ondrae I'm closing this issue as wontfix for now: Adding categories to datasets in the presentation layer would be a significant change I think, and if we are going to consider it, I'd like it

[2015-07-21 16:47] #322 closed

[2015-07-21 16:50] pwalsh commented on #354
@morchickit I just realised this is a different request to the one we have scheduled in our user stories. What do you think if this?

[2015-07-21 16:50] pwalsh commented on #376
This is scheduled now.

[2015-07-21 16:54] pwalsh commented on #377
There is no longer a contributors page for either the Index or the Census. Closing this as wontfix.

[2015-07-21 16:54] #377 closed

[2015-07-21 17:11] morchickit commented on #191
Thanks Paul!
I'll take it up with @rgrp next week when we will finalise the methodology.

[2015-07-21 17:17] morchickit commented on #323
BTW - we have no easy way to authenticate someone is really a government employee. We have to mostly trust people to be honest.

[2015-07-21 17:21] morchickit commented on #204
In any case, this is part of the Open Data Index repository and not the census, so no need to open it.

[2015-07-21 17:24] ondrae commented on #323
Its relevant, but not very practical.  We've just been going off of trust and will continue to do so. Sending gov employees away isnt very welcoming, when this may be some of their first open data community experience.

[2015-07-21 17:24] #323 closed

[2015-07-21 17:27] ondrae commented on #354
Ever since [place based reviewers](https://github.com/okfn/opendatacensus/pull/336) were added, this is even more needed. For the US census, we have one local volunteer reviewer for each city. An email when the rare update is made will help keep cities up to date.

[2015-07-21 17:28] ondrae commented on #322
:+1:

[2015-07-21 17:36] morchickit commented on #322
@ondrae I do not fully understand what you mean in this issue. Is this for the local census? Global? Is nesting really needed or is it depend on the datasets definitions? If you can elaborate more we can see where the discussion about this should go to. :-)

[2015-07-21 17:38] morchickit commented on #354
@pwalsh - we have to figure our a way do differ between issues that are for the local index, global index or both. In this case, it is not going to be relevant for the global index, but will for the local ones.

[2015-07-21 17:38] schlos opened #570 "Problem report and review for Next city census instance"
- [x] after submitting, it will be displayed to user "NAME, You do not have permissions to review this submission." it's rather confusing, why it's displayed to submitter right after submission? IMHO, it would be logical to display "Your submission is waiting for review before it is published." - [screenshot](https://qsnapnet.com/snaps/vsbqfnfvp4gta9k)

- [x] changes listed on "Changes" screen are

[2015-07-21 17:51] ondrae opened #571 "When submitting, I have to re-choose the place and dataset"
I've navigated to a place and chosen a dataset. When I tried to make a submission, I have to rechoose the place and the dataset. The data is right there in the url though.

![screen shot 2015-07-21 at 10 49 36 am](https://cloud.githubusercontent.com/assets/595778/8808238/4506d582-2f96-11e5-92ce-4edcd05c9efa.png)

[2015-07-21 19:03] pwalsh commented on #571
@ondrae very good thanks. it is a simple bug. will fix tomorrow.

[2015-07-21 19:07] pwalsh commented on #570
@schlos thanks. for the "propose revision" point (your 6th), I see the problem, but that is how the design has always been. When I fix these other issues tomorrow, I'll probably pull that one out as a separate task for the backlog, as it requires some more thought on how to resolve this.

[2015-07-21 19:08] pwalsh commented on #354
@ondrae ok.

@morchickit ok.

[2015-07-21 19:09] pwalsh commented on #322
@morchickit ok - but discuss with @ondrae on forum pls until we have a clear course of technical action (or not) :)

[2015-07-21 20:46] Stephen-Gates commented on #322
My thoughts - but I may be off on a tangent...

Sometimes a census dataset, e.g. Government Facilities, is made up of multiple datasets. I ask contributors to list them all in the extra information question e.g.
<img width="628" alt="screenshot 2015-07-22 06 39 27" src="https://cloud.githubusercontent.com/assets/9379524/8811928/9e244a68-303c-11e5-908f-1d1662ba6a76.png">

Each of these contributing

[2015-07-21 20:55] Stephen-Gates opened #572 "Proposed change to Entry not shown as Pending in /Changes"
Did this change http://australia.next.census.okfn.org/census/submission/9cd618f9-444d-4916-b469-bd92aae0000b but on going to http://australia.next.census.okfn.org/changes/ didn't see the change as pending and sometimes got a blank page.

[2015-07-21 20:57] Stephen-Gates commented on #572
Note: got to page to make change via + Add Information on Home Page (i.e. not via Propose Revisions)

[2015-07-21 20:58] Stephen-Gates commented on #572
Same result when going via Propose Revisions http://australia.next.census.okfn.org/census/submission/7e01ea53-6afb-4bb4-91bf-406f0b96a419

[2015-07-22 06:03] pwalsh commented on #571
fixed.

[2015-07-22 06:03] #571 closed

[2015-07-22 06:15] pwalsh commented on #572
Hi @Stephen-Gates

It is there, it is just that the ordering is wrong. I've sorting the ordering now and redeployed.

<img width="1280" alt="screenshot 2015-07-22 09 13 27" src="https://cloud.githubusercontent.com/assets/791678/8819136/f4c3746a-3051-11e5-87ce-49c7e3eb9762.png">

[2015-07-22 06:15] #572 closed

[2015-07-22 06:17] pwalsh commented on #570
@schlos for the first point: it does display a message as you describe, as well as the "can't review" message if the user who submitted cannot review. Both these messages serve a purpose, so I'm not changing that for now.

[2015-07-22 06:38] Stephen-Gates opened #573 "Approved revision only partially updates"
I approved a change and the results where reflected at:
- http://australia.next.census.okfn.org/entry/qld/election
- http://australia.next.census.okfn.org/dataset/election/2015

but not at:
- http://australia.next.census.okfn.org/

[2015-07-22 06:46] Stephen-Gates opened #574 "First entry does not need review but UI displays as review needed"
http://australia.next.census.okfn.org/place/nt/2015 shows Awaiting review...

![ntfirstentry](https://cloud.githubusercontent.com/assets/9379524/8819553/9a8a3bca-3090-11e5-8cf3-d1923aa05226.PNG)

On attempting to review, there is no option to approve/reject. Is that because another submission was approved after it or will all first entries be like that?

![nt2](https://cloud.githubusercontent.com/

[2015-07-22 06:48] pwalsh commented on #573
@Stephen-Gates it looks like it has updated to me. What signs should I look for here?

[2015-07-22 06:51] Stephen-Gates commented on #574
Ok added http://australia.next.census.okfn.org/census/submission/13c11600-0eef-4b2e-a759-a1b9593cf609 and got Publish/Reject buttons but as a first entry it didn't appear on:

- http://australia.next.census.okfn.org/
- http://australia.next.census.okfn.org/dataset/budget/2015

but appears on
- http://australia.next.census.okfn.org/place/nsw/2015 as awaiting review but it is the first entry and sho

[2015-07-22 06:52] pwalsh opened #575 "Fix Download Data links"
The code was recently refactored. The links to download entry data as CSV and JSON were not fixed as part of the refactor. (These links can be found in the footer).

We currently have [this controller that allows download as JSON](https://github.com/okfn/opendatacensus/blob/develop/census/controllers/pages.js#L69) (and works), and also [this module](https://github.com/okfn/opendatacensus/blob/deve

[2015-07-22 06:52] pwalsh commented on #570
All fixed except CSV. That has its own issue now: https://github.com/okfn/opendatacensus/issues/575

[2015-07-22 06:52] #570 closed

[2015-07-22 06:54] Stephen-Gates commented on #573
I changed the dataset to not available and this is reflected on
- http://australia.next.census.okfn.org/entry/qld/election
- http://australia.next.census.okfn.org/dataset/election/2015

but on the home page is not all red as in the links above.
![qldbudget](https://cloud.githubusercontent.com/assets/9379524/8819732/1f419dda-3092-11e5-86d6-5ff02ad8daf2.PNG)

[2015-07-22 06:56] pwalsh commented on #573
it is QLD Election.

[2015-07-22 06:57] Stephen-Gates commented on #573
Do'h
Closing Now - Sorry

[2015-07-22 06:57] #573 closed

[2015-07-22 06:58] pwalsh commented on #573
no worries!

[2015-07-22 07:00] pwalsh commented on #574
Ok, this is a bug with approve first review, and then related side effects. Working on it now.

[2015-07-22 07:08] pwalsh commented on #574
@morchickit the behaviour of "approve first submission" will change slightly: previously, it meant the first submission ever for a given census/place/dataset. Now that the census handles data by year properly, I think the correct behaviour would be "approve first submission for the given census/place/dataset this YEAR".

@Stephen-Gates if you have any thoughts on this, would love to hear them

[2015-07-22 07:12] Stephen-Gates commented on #574
@pwalsh auto-approval each year sound good.

[2015-07-22 07:59] morchickit commented on #574
@pwalsh - I am a bit confused - approved means approved by reviewer OR is it ready go to review?

[2015-07-22 08:01] pwalsh commented on #574
@morchickit there is a setting that census admins can use to have a submission automatically "accepted" (bypassing the review process). So, we are talking about that setting.

[2015-07-22 08:28] morchickit commented on #574
OK, I remember that setting. Then the new change sound fine.

[2015-07-22 09:13] pwalsh commented on #574
@Stephen-Gates this is fixed now: the first submission setting is now respected per "site" (eg: australia, global), and is year-sensitive.

[2015-07-22 09:13] #574 closed

[2015-07-22 09:31] pwalsh commented on #567
Ok: behaviour going forward is going to be: submissions that are accepted without review (ie: due to the "approve_first_submission" setting), will not have a reviewer, which is in line with what @Stephen-Gates has requested above. Old data (anything before today), will have the submitter as the reviewer, as noted above.

So, I'm closing this issue now. If we **really** need to act on this for old

[2015-07-22 09:31] #567 closed

[2015-07-22 11:24] pwalsh commented on #566
Fixed data location and anonymous submitters. Other issues are annoying but not critical. Adding to backlog.

[2015-07-22 11:31] pwalsh opened #576 "Add feature flags for sites"
Now that we have a single codebase, we have a scenario where it would be good to enable/disable certain features on a per-site basis. For this we will add feature flags to each entry in the Registry:

* [x] A new "flags" field in the registry, which is a comma-separated list of keywords
  * example keywords for the new features: `characteristics`, `comments`
* [x] On (re)load of Registry, the `fla

[2015-07-22 11:50] #576 closed

[2015-07-22 12:02] Stephen-Gates opened #577 "Unable to add Pathway entry for Noosa on Australia's Local Open Data Census"
I have tried multiple times to add a submission for this data http://www.data.gov.au/dataset/noosa-pathways on http://au-city.census.okfn.org/place/noosa_shire_council/2015

I am logged in but get different results if I choose to submit as a named or anonymous user but in both cases can't add the submission

<img width="1000" alt="screenshot 2015-07-22 21 56 27" src="https://cloud.githubuserconten

[2015-07-22 12:18] pwalsh commented on #577
Hi @Stephen-Gates

I need some more information here.

I can see that:

1. You have made other successful submissions on the au-city site (eg: http://au-city.census.okfn.org/census/submission/b4f62ead-44cc-4274-8e93-2b9ff8a3ac5c)
2. A large amount of data has been added to the au-city site in the last few hours (eg: place count has doubled)

[2015-07-22 12:23] Stephen-Gates commented on #577
Many Queensland councils have been added as new Places. I have tried to a submission for a new place, Noosa.

The submission you reference above is for Brisbane which already existed as a place.

Does that help?

[2015-07-22 12:51] pwalsh commented on #577
Was not related to new data. Was a bug. fixed in https://github.com/okfn/opendatacensus/commit/e5f4471a1a56ba760e1663ce6c681669425facf9

[2015-07-22 12:56] Stephen-Gates commented on #577
Success http://au-city.census.okfn.org/census/submission/516c620b-4140-448b-8327-001a3a23d900

Thanks @pwalsh

[2015-07-22 13:07] maxious commented on #577
I'm getting generic application errors accepting this submission. Tried a couple of different comments.

[2015-07-22 13:13] Stephen-Gates commented on #577
...and as the first submission for a Place + Dataset + Year it should have been automatically made an entry unless @maxious you've configured the site not to allow this  (see #574)

[2015-07-22 13:21] pwalsh commented on #577
@maxious ok will check it out.

[2015-07-22 13:24] Stephen-Gates opened #578 "http://australia.census.okfn.org/admin returns {"status":"error","message":"not allowed"}"
Clues?

[2015-07-22 13:24] pwalsh commented on #578
not logged in.

[2015-07-22 13:29] Stephen-Gates commented on #578
Nope. Was logged in.
Logged out and logged back in and same error.

Interestingly it shows my logged in name as Stephen but submission (on Au_City) shows name as Stephen Gates - Intended?

[2015-07-22 13:39] Stephen-Gates opened #579 "Order of {{Datasets}} does not match dataset order on census home page"
Not a big issue but the dataset order is different between http://australia.census.okfn.org/faq/#datasets with http://australia.census.okfn.org

<img width="341" alt="screenshot 2015-07-22 23 37 18" src="https://cloud.githubusercontent.com/assets/9379524/8826552/a009266c-30ca-11e5-8996-5e070fdb78ec.png">

<img width="1005" alt="screenshot 2015-07-22 23 36 02" src="https://cloud.githubusercontent.c

[2015-07-22 13:52] Stephen-Gates commented on #577
Successfully submitted NSW Budget for first time but not automatically added as entry http://australia.census.okfn.org/census/submission/9e7f1f10-8e90-45b6-bb72-1372be5b24b1

Will check configuration in Sheet

[2015-07-22 14:31] Stephen-Gates opened #580 "Date data made available question displayed in {{questions}} but not collected"
Date the data was made available is displayed but the question is not presented in the submission form.

<img width="971" alt="screenshot 2015-07-23 00 19 53" src="https://cloud.githubusercontent.com/assets/9379524/8827580/d40eed24-30d0-11e5-8c2b-bf3e1afe34e2.png">

The question is displayed in {{questions}} - as is other questions not captured e.g. Rate Quality of Data (Structure)

<img width="82

[2015-07-22 17:06] pwalsh commented on #578
@Stephen-Gates your admin email for the census is your @me.com email address. In the new code, that email needs to match the email of your logged in user in order to allow access to the admin controls of the census. I had this restriction relaxed on the test **next** site. I believe this is the issue here. Please email me directly and let me know which email I should use for your admin email.

[2015-07-22 18:14] pwalsh opened #581 "Allow comments on a submission"
# User story

As a “Reviewer” or Visitor I want to leave a comment on a submission so that an improvement or omission can be highlighted and addressed.

# Implementation

First, note that the system already has a config setting for a "disqus forum" [here](https://github.com/okfn/opendatacensus/blob/develop/census/config/index.js#L32).

On a submission page. Underneath the display of data/the revie

[2015-07-22 18:14] pwalsh commented on #376
Will be documented and implemented against https://github.com/okfn/opendatacensus/issues/581

[2015-07-22 18:14] #376 closed

[2015-07-22 18:15] pwalsh opened #582 "Allow a reviewer to ask a submitter a question"
# User story

AS A reviewer I want to email the submitter of the data SO I can ask them question and have a reliable review.

# Implementation

We'll use [Mandrill](https://www.mandrill.com/) as a transactional email backend.

Users should never see another user's email, so messages will be send from the system to the recipient, but the recipient has to come back to a page on the app in order to r

[2015-07-22 18:16] pwalsh opened #583 "Allow datasets to have a list of characteristics"

[2015-07-22 18:17] pwalsh opened #584 "If a dataset has characteristics, implement logic on how this relates to submission questions"
Requires same spec as https://github.com/okfn/opendatacensus/issues/587

[2015-07-22 18:20] pwalsh opened #585 "Have a normalized list of machine readable formats, and tie the machine readable + format questions"
@morchickit I need a definitive list of formats we consider machine readable, including their extensions/identifiers in all variations.

A comprehensive list of non-machine readable formats would also be good.

[2015-07-22 18:22] pwalsh opened #586 "As a site admin, I want to be able to generate some reports on census activity"
@morchickit need a reasonable, minimal list of useful reports.

Expected behaviour is that user will get a CSV file that has data for such a report, and the admin can use Excel or whatever to work with this CSV.

[2015-07-22 18:27] pwalsh opened #587 "Implement updated dependencies between questions based on updated methodology"
Requires spec for @morchickit

[2015-07-22 19:59] Stephen-Gates commented on #586
As a data publisher, progress over time is always handy. See an example at http://australia.census.okfn.org/faq/#data

[2015-07-22 20:12] Stephen-Gates commented on #585
I went looking for a list this and found a dead page off the Open Definition and updated it to tackle this (and other problems) http://opendefinition.org/ofd/

I need to update it when [v2.1](https://github.com/okfn/opendefinition/blob/master/source/open-definition-2.1-dev.markdown) of the Open Definition is released and narrow it down to a list of formats.

I was struggling with section 1.2 and 1

[2015-07-22 20:14] Stephen-Gates commented on #582
I like this idea.

[2015-07-22 20:16] Stephen-Gates commented on #578
@pwalsh email sent

[2015-07-22 21:01] Stephen-Gates opened #588 "Google name not showing correctly on review submission page"
Logged in with Australia's Open Data Index account but name not defined in text, "As the reviewer, your name (undefined) will be logged and displayed with the entry".

<img width="1004" alt="screenshot 2015-07-23 06 57 50" src="https://cloud.githubusercontent.com/assets/9379524/8837183/64bc9fc4-3108-11e5-944d-3fe75cdfb055.png">

[2015-07-23 05:58] pwalsh commented on #588
fixed.

[2015-07-23 05:58] #588 closed

[2015-07-23 06:02] pwalsh commented on #579
FIXED (also question sorting).

[2015-07-23 06:02] #579 closed

[2015-07-23 06:03] pwalsh commented on #578
I'm closing this as it is a configuration issue in the site registry, and I am sorting it out with @Stephen-Gates by email (correct email for admin access).

[2015-07-23 06:03] #578 closed

[2015-07-23 06:04] pwalsh commented on #577
@Stephen-Gates yes, `approve_first_submission` is `FALSE` if it does not exist.

[2015-07-23 06:12] pwalsh commented on #577
@maxious fixed silly bug that caused the behaviour you experienced.

[2015-07-23 06:12] #577 closed

[2015-07-23 06:13] pwalsh opened #589 "Update documentation with correct links to forum"

[2015-07-23 08:24] pwalsh commented on #589
DONE

[2015-07-23 08:24] #589 closed

[2015-07-23 10:17] Stephen-Gates commented on #588
Not convinced Earl's last name is really "null".  @pwalsh Probably related to above.

http://australia.census.okfn.org/changes/

<img width="633" alt="screenshot 2015-07-23 20 14 12" src="https://cloud.githubusercontent.com/assets/9379524/8848051/b466911e-3177-11e5-92cf-3d343facbed7.png">

[2015-07-23 10:18] pwalsh opened #590 "Update all documentation"
A sampling of the tasks required:

* [x] Create new templates for developers to setup their own instances  - eg: Registry template
* [x] Ensure all new settings/env vars are documented
* [x] Clean up site-specific settings that are available for site admins

[2015-07-23 11:09] pwalsh commented on #588
Fixed. Also fixed another bug that prevented user's last names from being saved in database with they log in.

[2015-07-23 11:11] pwalsh commented on #436
Being done as part of 2015 global index, and captured here https://github.com/okfn/opendatacensus/issues/582 and here https://github.com/okfn/opendatacensus/issues/581

[2015-07-23 11:11] #436 closed

[2015-07-23 11:12] pwalsh commented on #461
I believe this is captured by https://github.com/okfn/opendatacensus/issues/582

[2015-07-23 11:12] #461 closed

[2015-07-23 11:15] pwalsh commented on #480
I'm closing this issue. We've never supported or endorsed custom questions, and if people do use custom question, they should ensure they keep up-to-date with code changes. I'll add specific documentation to detail this as part of https://github.com/okfn/opendatacensus/issues/590

[2015-07-23 11:15] #480 closed

[2015-07-23 11:15] Stephen-Gates opened #591 "Auto-accept first submission prevents subsequent submission"
On http://australia.census.okfn.org/place/nsw/2015 it shows two entries for NSW Contracts
The first:
Status: Awaiting Review  (but Accepted according to http://australia.census.okfn.org/changes/)
Submission date: 12:31pm on 4th Mar 2015
Submitter:Anonymous
Reviewer: Australia's Open Data Index

The second (according to http://australia.census.okfn.org/entry/nsw/contracts/2015 ) is
Status: Accepted

[2015-07-23 11:16] pwalsh commented on #555
@morchickit should this conversation move to the forum?

[2015-07-23 11:46] Stephen-Gates commented on #591
May be related or separate issue. On http://australia.census.okfn.org/place/qld/2015 I have a couple of dataset with multiple submissions awaiting review. These two entries were added by the same person half an hour apart.
<img width="964" alt="screenshot 2015-07-23 21 39 16" src="https://cloud.githubusercontent.com/assets/9379524/8849510/a442d5f2-3183-11e5-8a96-fe1686584c39.png">

[2015-07-23 11:48] Stephen-Gates opened #592 "Text overlaps on Submission review page"
On http://australia.census.okfn.org/census/submission/1cdf9bf7-f148-48df-b4f8-614df96a0777
parts of the page are not attractive...
<img width="967" alt="screenshot 2015-07-23 21 45 41" src="https://cloud.githubusercontent.com/assets/9379524/8849619/73ef67fc-3184-11e5-8744-33fdc5b65831.png">

[2015-07-23 11:50] Stephen-Gates commented on #592
... and a missing space after "Submitter: "
<img width="395" alt="screenshot 2015-07-23 21 49 33" src="https://cloud.githubusercontent.com/assets/9379524/8849661/d1825758-3184-11e5-8930-7075e744848c.png">

[2015-07-23 11:53] ppKrauss commented on #555
@morchickit , I only need a little "free time" (the next weekend) to build  some concrete experiments, them back here with better fundamentals...

I am preparing   a draft for [Inferred license for Israeli legislation](https://github.com/ppKrauss/openCoherence/blob/master/reports/inferredLicense-IL.md), can you check?

[2015-07-23 11:56] ppKrauss commented on #555
Ops, sorry, my answer was for @pwalsh

[2015-07-23 12:01] pwalsh commented on #555
Hi @ppKrauss it is no problem, I'm in no rush or anything, it is just that we are trying to keep discussion of methodology on the [discussion forum](https://discuss.okfn.org/c/open-data-index), and use GitHub here for technical issues.

At the same time, it is perfectly fine to discuss here, you just might get less input from other people interested in these issues (as these people frequent the fo

[2015-07-23 12:01] Stephen-Gates opened #593 "Links on Login page broken"
These should return to the Place.census pages or be removed.

<img width="789" alt="screenshot 2015-07-23 21 58 25" src="https://cloud.githubusercontent.com/assets/9379524/8849823/1bec6c60-3186-11e5-9599-c26c429a7d10.png">

<img width="618" alt="screenshot 2015-07-23 21 58 35" src="https://cloud.githubusercontent.com/assets/9379524/8849828/201e9be6-3186-11e5-9a8b-0ba61600c721.png">

[2015-07-23 12:02] pwalsh commented on #593
Yes this one I know about. We'll deal with it and related here https://github.com/okfn/opendatacensus/issues/568

[2015-07-23 12:02] #593 closed

[2015-07-23 12:05] pwalsh commented on #592
The missing space is fixed. the other issue is annoying, but only appears on particularly long texts for this text field. Will add to backlog for now.

[2015-07-23 12:14] pwalsh commented on #591
@Stephen-Gates :

1. NSW / Procurement Contracts - there is only one submission waiting, not two. You can't propose a revision because one is waiting (ie: a revision has already been proposed).

2. Is there any way to ask earl what course of action he took to add submissions? it should not be possible to add two submissions. I'm checking now.

[2015-07-23 12:55] Stephen-Gates commented on #591
@pwalsh
 1. Ok but can't approve NSW / Contracts as there's no button on the [submission review form] (http://australia.census.okfn.org/census/submission/93f2939b-4078-42a0-928b-d4bd33c2432b)

 2. I think I know Earl B. given the dataset and place. I'll ask over the next few days. I plan to reject both entries so it would be good to explain that as well.

 3. Brain turning to mush - too much testi

[2015-07-23 13:00] Stephen-Gates commented on #591
@pwalsh Earl reports "I added the DCCSDS service / contact centres. I did experience a surprise feature when I was adding my listing. I was still adding details when the listing was posted without any confirmation if I had finished".

[2015-07-23 13:03] pwalsh commented on #591
Well, the only way to "post" is to click the button. Possibly an accidental click?

[2015-07-23 13:21] morchickit commented on #555
I'm with @pwalsh - let's move it to the forum, we will have much more input from others there.

[2015-07-23 13:21] #555 closed

[2015-07-23 15:18] pwalsh commented on #591
Hi @Stephen-Gates I now addressed a bunch of behaviour related to the queuing of submissions, and the display of them. There were some old submissions showing that should not have been (they were in the past, earlier than the entries that are displayed).

I do believe this till address all the issues you listed here. Could you please verify, and if you still have any issues related, please open a

[2015-07-23 15:18] #591 closed

[2015-07-23 15:25] Stephen-Gates commented on #591
@pwalsh Looks right to me.
Earl's double entry problem remains - will raise as separate issue.

[2015-07-23 15:30] Stephen-Gates opened #594 "Two revisions added for same dataset with editor review in-between"
As originally discussed on #591 on http://australia.census.okfn.org/place/qld/2015 I have a dataset, government facilities, with multiple submissions awaiting review. These two entries were added by the same person half an hour apart.
<img width="964" alt="screenshot 2015-07-23 21 39 16" src="https://cloud.githubusercontent.com/assets/9379524/8854436/3a35dea0-31a3-11e5-9474-69b96283592a.png">

How

[2015-07-23 15:32] morchickit opened #595 "Remove "+add Information button from home page"
![screen shot 2015-07-23 at 16 31 04](https://cloud.githubusercontent.com/assets/3273659/8854595/8c08625c-3158-11e5-9d45-3851ca177e9c.png)

[2015-07-23 15:34] pwalsh commented on #594
The fact that there are two was due to a bug that has now been fixed. Also, for reference, data that was migrated from the old spreadsheets to the new DB may also have more than one pending submission.

My suggestion is to reject duplicates or stale submissions. Form this point onwards, the system only allows one pending submission.

[2015-07-23 15:47] Stephen-Gates commented on #594
Rejected both entries. Not reflected in change log. Still appear in http://australia.census.okfn.org/place/qld/2015

[2015-07-23 19:55] schlos opened #596 "Cannot review existing submission"
I can access admin page:
http://hr-city.census.okfn.org/admin/

But cannot review existing submission:
http://hr-city.census.okfn.org/changes/

"Miroslav, You do not have permissions to review this submission."

[2015-07-23 19:57] schlos opened #597 "How to define reviewers in new admin page?"
How to define reviewers in new admin page?

Cant seem to find anything to "edit", just links to old spreadsheets (we dont use spreadsheets anymore, right?) and relead data (from where?).

[2015-07-24 04:13] pwalsh commented on #596
The email address you are logged in with must be an email in the reviewers field of the config.

It looks like yours is, but email addresses in your config were space separated, comma separated. The old code allowed space separated, so it is a bug that the new code does not.

https://docs.google.com/spreadsheets/d/1FCAnp_sksyb2FREVjw-qpDbJEVo5efRqiQP1OT1krDM/edit#gid=0

I updated your config now t

[2015-07-24 04:15] pwalsh commented on #597
As previously, all config changes are done in a google spreadsheet: http://census.okfn.org/site-admins/

The data from this sheet is loaded into a database. The admin page gives you actions to reload this data.

So:

1. Edit your config file (https://docs.google.com/spreadsheets/d/1FCAnp_sksyb2FREVjw-qpDbJEVo5efRqiQP1OT1krDM/edit#gid=0)
2. Reload config from your admin page

[2015-07-24 04:15] #597 closed

[2015-07-24 05:08] pwalsh commented on #581
@morchickit see the mocks, note the planned implementation, and add any comments here :).

[2015-07-24 05:09] pwalsh commented on #582
@morchickit see the mocks, note the planned implementation, and add any comments here :).

[2015-07-24 09:18] pwalsh commented on #587
From @morchickit

<img src="https://docs.google.com/drawings/d/1jj0mnDjvzz-O8SNBgEhNTqsXa8SNdMoMeoxPoy-tBfE/pub?w=1060&amp;h=738">

[2015-07-24 09:19] pwalsh commented on #584
From @morchickit

<img src="https://docs.google.com/drawings/d/1jj0mnDjvzz-O8SNBgEhNTqsXa8SNdMoMeoxPoy-tBfE/pub?w=1060&amp;h=738">

[2015-07-24 10:32] Stephen-Gates commented on #595
@morchickit what's the thinking here?

[2015-07-24 10:57] morchickit commented on #585
SO - @Stephen-Gates , I am not sold on aligning the census with Open formats (yet). I think that if a government is releasing data in XLS instead of a CSV it should be penalised for it. It is hard for us to explain to the what machine readable is, that I feel it will be unfair to be neat peaking about it (I can convert a XLS to CSV easily, and it works on 99% (if not all) other software out there.

[2015-07-24 11:06] Stephen-Gates commented on #585
OK @morchickit - You gotta start somewhere. We can crank things up over time.

[2015-07-24 11:09] morchickit commented on #595
This button create lots of confusion when users are filling the census during the global index. Having one point of entry of data should make it easier for them to know what to do.

[2015-07-24 11:17] Stephen-Gates commented on #595
Are you removing
<img width="163" alt="screenshot 2015-07-24 21 11 44" src="https://cloud.githubusercontent.com/assets/9379524/8873319/b40608ea-3248-11e5-9e64-6b6359843e6b.png">

or the multiple +Add buttons in the grid display?
<img width="190" alt="screenshot 2015-07-24 21 13 37" src="https://cloud.githubusercontent.com/assets/9379524/8873340/e9dbef52-3248-11e5-98af-3af09130f35a.png">

100% agre

[2015-07-24 11:18] morchickit commented on #595
I was thinking if removing the first option (the big blue button). @Stephen-Gates  - you think we should remove the one per countries? Thats a b good option as well... @pwalsh  - what will be easier?

[2015-07-24 11:21] pwalsh commented on #595
You need the +Add per country as a call to action to drill down and then add from a specific point (eg: qld/contracts).

The problem last year was that the blue +Add lead to multiple queued submissions, which is not possible now anyway.

Abut easier - doesn't matter. What gives the best ux? I think the best ux is that people "Add" from a place or dataset page, as there they have the context of cur

[2015-07-24 11:25] morchickit commented on #585
Yes - I am not against the idea, I just don't think we are there (yet!). It will be great to see if we can do it in years to come.

[2015-07-24 11:26] Stephen-Gates commented on #595
My logic is:
- pressing **+Add information** takes you to /submit where you can do what the button says.
- pressing **+Add** takes you to /place - not what I was expecting, where I need to press "add" again.

Could pressing **+Add** in the grid take you to /submit with Place and Dataset pre-filled? That's what I was expecting to happen.

[2015-07-24 11:27] pwalsh commented on #595
@Stephen-Gates yes, it could (should). please add it as a new issue.

[2015-07-24 11:47] Stephen-Gates opened #598 "Application error on submitting first entry"
Attempted to add first entry on http://australia.census.okfn.org/census/submit/?dataset=budget&place=nt
<img width="892" alt="screenshot 2015-07-24 21 43 11" src="https://cloud.githubusercontent.com/assets/9379524/8873743/059e94fc-324d-11e5-8a45-b07898209009.png">

[2015-07-24 11:51] Stephen-Gates opened #599 "Change +Add buttons to goto /Submit page and default Place and Dataset"
As discussed in #595, consider changing the behaviour of the **+Add** button in the grid display to take you to the /submit page and pre-fill the place and dataset values based on the location of the button in the grid.

So clicking **+Add** here...
<img width="247" alt="screenshot 2015-07-24 21 36 17" src="https://cloud.githubusercontent.com/assets/9379524/8873661/1cb7150c-324c-11e5-8e9f-3b13939b

[2015-07-24 12:02] pwalsh commented on #598
fixed.

[2015-07-24 12:02] #598 closed

[2015-07-24 12:03] pwalsh commented on #599
@morchickit what do you think. The only problem is (and maybe it is a big one) that the user does not get to see if there are already pending submissions.

[2015-07-24 12:45] Stephen-Gates opened #600 "Logged in, Press Submit Information, Asked to Login (again!)"
- From http://australia.census.okfn.org/place/nt and logged in
- Press Submit Information
- Asked to Login again at http://id.census.okfn.org/login?next=census%2Fsubmit%2F%3Fdataset%3Dbudget%26place%3Dnt

I shouldn't need to login again.
- is there a timeout?
- or is it because I have multiple google accounts (which I am prompted for which one to use when I do login again)?

<img width="578" alt="

[2015-07-24 12:59] Stephen-Gates opened #601 "Grey out Submit information button when submission awaiting review"
When a dataset has a submission awaiting review, make it more obvious that you can't make another submission until the previous one is Approved/Rejected. (Grey out / disable button?)

<img width="1077" alt="screenshot 2015-07-24 22 54 45" src="https://cloud.githubusercontent.com/assets/9379524/8874750/0ecd37ae-3257-11e5-8cd7-5877012baacf.png">

[2015-07-24 13:14] pwalsh commented on #600
A glitch in the Matrix :). This only happens when the server reloads, like if I deploy new code. Sorry for the inconvenience.

[2015-07-24 13:14] #600 closed

[2015-07-24 15:22] morchickit commented on #582
Looks good!
Why do we have reject and approve? Can you explain about that please?

[2015-07-24 15:28] morchickit commented on #581
Looks good!

[2015-07-24 18:55] pwalsh commented on #582
@morchickit there are two mocks above:

"Communication page" is a separate page that shows the communication, has the ability to add  comment, etc.

"Integration with submission page" is the current submission page, where next to the **existing** publish and reject buttons, we add a new button to "ask the submitter a question"

[2015-07-24 22:18] morchickit commented on #585
OK - After analysing last's year submissions, I came up with this list. @Stephen-Gates , @rgrp - Tell me if I missed something!

Not Machine readable
PDF
HTML
XHTML
WORD

Machine readable
CSV
CIF
RDF
JSON
XLS
TXT
TEXTO (the Spanish way to say text file - it was mentioned more than one in 2014!)
GTFS (Technically, its a standard that creates text files, but if someone writes this we should mark the

[2015-07-24 22:47] Stephen-Gates commented on #585
KML

[2015-07-26 02:16] Stephen-Gates opened #602 "Too easy to add submission by mistake"
When adding a submission for Noosa's Budget I tried to accept the suggested text for the Publisher's name by pressing Enter. This then:
- defaulted values I hadn't enter to Not Sure
- didn't give me the choice to be Anonymous
- and added the submission

I think the problem was hitting Enter to select Noosa instead of clicking it with the mouse.
<img width="388" alt="screenshot 2015-07-26 12 08 28"

[2015-07-26 02:55] Stephen-Gates commented on #602
To test:
- that you can only add one submission at a time
- and the risks of using the **+Add Information** button #595

I tried to **+Add Information** over the top of the Noosa Budget submission above expecting to be stopped because one was waiting for review. Instead I was able to over-write the entry (so @maxious please review).

@pwalsh I think this is a bug.

[2015-07-26 02:59] Stephen-Gates commented on #602
And I think my comment about no copyright statement on the web or within the PDF document was lost.

[2015-07-26 08:26] pwalsh commented on #594
@Stephen-Gates

I fixed the bug related to rejecting entries. Please confirm. I'll close the issue when you confirm.

[2015-07-26 08:27] pwalsh commented on #602
It is annoying behaviour, but this is how it has always been. I'm putting on the backlog for now.

[2015-07-26 08:53] Stephen-Gates commented on #594
@pwalsh strange behaviors... actions don't appear to be accurately reflected in /changes

I attempted to keep the original and reject the latest from Earl but that got rid of the original.

I'm confused to what's going on here - maybe something related to submission sequence?

[2015-07-26 08:58] pwalsh commented on #594
i see the problem. I'm working on it now

[2015-07-26 09:20] pwalsh commented on #594
Please check again.

[2015-07-26 09:48] Stephen-Gates commented on #594
I have taken no action in census:
- Change log shows correctly. Original Accepted and one of Earl's Rejected.
- http://australia.census.okfn.org/place/qld/2015 shows Earl's other submission is Pending awaiting review
-  However the comments are from the original are missing. Actually just noticed comments are missing in the whole census (raise as separate issue?)

So now I'll attempt to reject...

[2015-07-26 09:49] pwalsh commented on #594
separate issues for everything, yes. but, please expand on what you mean by "comments"

[2015-07-26 09:55] Stephen-Gates opened #603 "Comments missing in Census"
As discovered in #594 comments about the dataset are missing. Comments is the formatted text you enter in a submission here...
<img width="986" alt="screenshot 2015-07-26 19 51 14" src="https://cloud.githubusercontent.com/assets/9379524/8893335/0f262100-33d0-11e5-950e-ca15977e33db.png">

... and what gets displayed in the entry in the (i) icon here...
<img width="949" alt="screenshot 2015-07-26 19

[2015-07-26 10:03] pwalsh commented on #603
fixed.

[2015-07-26 10:03] #603 closed

[2015-07-26 10:13] Stephen-Gates commented on #594
Rejected pending submission:
- Change log correct
- http://australia.census.okfn.org correct
- http://australia.census.okfn.org/place/qld/2015 correct
- http://australia.census.okfn.org/entry/qld/facilities/2015 correct  but not processing markdown in comments (will add separate issue)
<img width="954" alt="screenshot 2015-07-26 20 11 40" src="https://cloud.githubusercontent.com/assets/9379524/889

[2015-07-26 10:13] #594 closed

[2015-07-26 10:35] Stephen-Gates opened #604 "Comments not rendering Markdown"
You can use Markdown to format comments in your submission. These are not rendered correctly when the entry is displayed - e.g. hyperlinks below...

<img width="977" alt="screenshot 2015-07-26 20 31 30" src="https://cloud.githubusercontent.com/assets/9379524/8893501/8e64a6b2-33d5-11e5-93bc-2a8d4c34a396.png">

[2015-07-27 16:07] rgrp commented on #587
@morchickit i should catch up with you on this diagram as not sure all the implications work (e.g. data vailable online = No !=> openly licensed no or bulk = no)

[2015-07-27 16:12] morchickit commented on #587
It's and not or, and we can do whenever you want, the sooner the better.

[2015-07-28 09:58] pwalsh opened #605 "Solution for cascaded views"
# User story

As a Visitor I want to see an overview of the current state of the census data so that I know [who is performing well] and also who has submissions or not.

Also see https://discuss.okfn.org/t/all-census-instances-in-read-only-mode/339/36

# Implementation

The default `overview`, `place` and `dataset` views will show cascaded data, as the census showed before the refactor.

The new

[2015-07-28 20:57] schlos commented on #596
Ok, tnx. I'm now recognized as a reviewer.

[2015-07-28 20:57] #596 closed

[2015-07-28 20:58] schlos opened #606 "Submission link does not work"
I just approved submission, it dissapeared from main screen, it's still visible in "changes" screen, but it says "rejected", and when I click on dataset link, I get error "There is no matching entry in our database. Please check the overview page for available entries.":
http://hr-city.census.okfn.org/changes/ --> http://hr-city.census.okfn.org/entry/ka/zoning

[2015-07-28 21:06] schlos commented on #570
@pwalsh

point 2:
I can still reproduce. I've opened new ticket for that: #606
"changes listed on "Changes" screen are not reachable (Error 404)"

point 3:
MD will be re-added or we're moving to html syntax?
"description text (in yellow box) does not support Markdown syntax anymore?"

point 4:
I can still reproduce it: http://hr-city.census.okfn.org/dataset/zoning/2014
"dataset screen has offset i

[2015-07-29 00:52] Stephen-Gates opened #607 "Reload Configuration file results vary"
- I changed the config file this morning, reloaded, changes worked.
- I changed the config file again, reloaded, no change.
- Waited, as I remember changes to Google Sheet are sometimes delayed, reloaded, no change.

Should I wait longer and try again or is something amiss?

[2015-07-29 00:56] Stephen-Gates commented on #607
Went back into the spreadsheet, reloaded config, worked.

[2015-07-29 00:56] #607 closed

[2015-07-29 07:20] pwalsh opened #608 "Notify submitters of comments made on a submission"
# User story

As a submitter I want to know if there is a comment on my submission so that I can respond.

# Implementation

Comments are made via Disqus, as implemented in https://github.com/okfn/opendatacensus/issues/581.

Emails will go through Mandrill, which is a transactional email service provider.

At regular intervals, (example: every 6 hours) we will run a task that checks the comments m

[2015-07-29 07:37] pwalsh opened #609 "Add discussion forum to main navigation"
# User story

As a Submitter or Reviewer I want to know where I can “escalate” policy or systematic issues to so that they can be resolved

# Implementation
 We need a new config setting called "discussion_forum", with a default value of an empty string. We'd expect the value of this, if filled in, to be a URL, but we don't need to validate that. For the main navigation of the site, we'll append a

[2015-07-29 09:19] pwalsh opened #610 "Validate submission answers"
# User story

As a Submitter I want to have my submission checked for basic validity so that I do not accidentally make inconsistent statements (e.g. that the data is open but there is no link to the open license etc).

# Implementation

We currently do implement a server-side validation when data is submitted, but is is just at a field level - ensuring certain fields meet certain conditions.

* W

[2015-07-29 09:22] gvidon commented on #608
@pwalsh will submitter always has Disqus account?

[2015-07-29 09:25] gvidon commented on #608
@pwalsh how will be NOTIFICATION_TASK_FREQUENCY applied? Will we have to copy it from local app config into cron/heroku scheduler config?

[2015-07-29 09:27] pwalsh commented on #608
1. Submitter may or may not have disqus account - we do not get the submitter from disqus though. We get the comment, and from that we get the submission that comment belonged to, and then from that, we get the submitter.
2. Yes, we'll be responsible for *manually* ensuring that the schedule (outside the app, be it cron or Heroku or whatever) matches that of the var we set.

[2015-07-29 09:35] gvidon commented on #608
So, we will also need some function that sync local app config and scheduler?

[2015-07-29 09:40] gvidon commented on #608
As for queues, if you ask me I would say that perhaps there will not be as much load in 6 hours interval as required for queueing the process. I would rather go with some async/workers within the process that queries disqus and sends emails.

[2015-07-29 10:03] pwalsh commented on #608
@gvidon

1. "sync local app config and scheduler" - Not quite sure what you mean. I don' think there is a need to sync anything... but am I missing something?
2. queues - sounds fine with for me - less overhead, and almost definitely we can manage the load.

[2015-07-29 10:12] gvidon commented on #608
@pwalsh I mean set up NOTIFICATION_TASK_FREQUENCY from app config in scheduler config. Probably I missed something.

Perhaps in 6 hours interval we will be able to perfectly manage load within single process, not introducing other tools. But again — I may be wrong and not deep enough in architecture design.

[2015-07-29 10:51] gvidon commented on #552
All uncommented tests passed.

[2015-07-29 10:53] pwalsh commented on #552
right on :). Thanks @gvidon

[2015-07-29 11:21] pwalsh commented on #609
Done.

[2015-07-29 11:21] #609 closed

[2015-07-29 18:21] rgrp commented on #599
@pwalsh this will be resolved by planned major refactor of front page (at least, in part). Let's discuss.

[2015-07-30 06:40] pwalsh commented on #581
@gvidon reopened. the scroll of the comment box is weird for me, and it also causes horizontal scroll bars on a standard laptop.

1. I added arrows and a line to the UI mock to emphasis where the comment action should should to
2. Just use the word "Comment" and put it in a button `class="btn btn-primary"`, and ensure the word comment is in a gettext function

[2015-07-30 07:03] pwalsh commented on #608
@gvidon I updated the original issue based on our discussion yesterday.

[2015-07-30 08:07] rgrp commented on #587
This is now finalized.

[2015-07-30 08:07] rgrp commented on #584
This is deferred for now. I would suggest we close as WONTFIX for now and re-open or open a new question when needed. /cc @pwalsh @morchickit

[2015-07-30 08:13] pwalsh commented on #584
WONTFIX

[2015-07-30 08:13] #584 closed

[2015-07-30 08:38] davidegalletti opened #613 "Broken links to doc"
on the [http://census.okfn.org/local/](http://census.okfn.org/local/)   page there are two broken links pointing at the [/doc](http://census.okfn.org/doc) page:
[Read the Overview of how censuses work in Census Administrator guide!](http://census.okfn.org/doc/#overview-of-how-a-census-is-structured)
[Basic configuration of the Census – see the instructions](http://census.okfn.org/doc/#configuring-

[2015-07-30 09:25] pwalsh commented on #608
@gvidon we'll also skip the queue on this implementation. Let's get it working, and then we'll add a queue later if we definitely need it. I updated the tasks to reflect this.

[2015-07-30 12:59] pwalsh commented on #587
Actual work being done here: https://github.com/okfn/opendatacensus/issues/610

[2015-07-30 12:59] #587 closed

[2015-07-30 15:04] pwalsh commented on #605
Did the minimum required fix here: https://github.com/okfn/opendatacensus/commits/hotfix/cascade

A cleaner code solution is coming with other changes we are making to default views, but wanted to push this without other changes.

[2015-07-30 15:04] #605 closed

[2015-07-30 16:37] ondrae opened #614 "Getting Admin access"
Hi, I'm the admin for the US City Open Data Census at http://us-city.census.okfn.org/

I am unable to login to the new version. Is there anything I need to do on my end?

My google email that should have access is andrewh@codeforamerica.org

[2015-07-30 16:38] ondrae commented on #614
I want access so I can remove our Read Only warning banner and also refresh our list of place based reviewers.

[2015-07-30 17:26] pwalsh commented on #614
Do you mean login, or, administer? You are not listed as an admin.

[2015-07-30 17:29] ondrae commented on #614
Who is the admin listed? I'm the admin in practice. We coordinate with Sunlight Foundation as well.

[2015-07-30 17:38] pwalsh commented on #614
I'll write to your email in the next hour.

[2015-07-30 17:38] #614 closed

[2015-07-30 18:37] pwalsh commented on #606
Hi @schlos I've fixed this issue, but I can't work out how to reproduce the fact that the record changed. Can you provide any more detail on the actions taken?

[2015-07-30 18:39] pwalsh commented on #613
fixed.

[2015-07-30 18:39] #613 closed

[2015-07-30 19:15] ondrae opened #616 "Having trouble with submissions"
I've been doing some test submissions at http://us-city.census.okfn.org/place/williamsburg
They are all waiting for review before becoming visible. I thought the default was to auto-approve the first submission? I remember an [approve_first_submission](http://census.okfn.org/site-admins/#approvefirstsubmission) config variable, yet I'm not sure it works.

Also, it keeps telling me, the site admin,

[2015-07-30 19:25] pwalsh commented on #616
Hi @ondrae

1. You can see that in the US City config, `approve_first_submission` is set to `FALSE`

2. See `reviewers` in your config file - are any of the email addresses you tried there? They should be if you have permissions to review, or, also check the places sheet.

[2015-07-30 19:58] ondrae commented on #616
1. Setting that to TRUE works, thanks!
2. My admin email, which is in the reviewers field doesn't have permission. My personal gmail, which is in one of the place based reviewer fields, does work.

I don't need to have my Admin email working to promote the census though, so I'll get started.

Good work @pwalsh

[2015-07-30 19:58] #616 closed

[2015-07-31 02:00] gvidon commented on #608
@pwalsh I have pushed incomplete code for both comments checker and email notifications scripts, it is not tested well.

**What is left**
In comments checker
- [ ] unit tests
- [ ] update ```NotificationLog```
- [ ] template import

In email notifications
- [ ] unit tests
- [ ] template rendering

[2015-07-31 02:14] ondrae opened #617 "Place view still only shows last years data"
#### Description
The place based views are still showing only the submissions for the last year, instead of summarizing all years of submissions.

#### Example
http://us-city.census.okfn.org/place/vegas is the same as http://us-city.census.okfn.org/place/vegas/2015 while http://us-city.census.okfn.org/place/vegas/2014 fills in the gaps.

[2015-07-31 03:17] #583 closed

[2015-07-31 03:18] pwalsh commented on #568
FIXED.

[2015-07-31 03:18] #568 closed

[2015-07-31 03:19] pwalsh commented on #586
The user story has been changed. Will be covered by a new issue.

[2015-07-31 03:19] #586 closed

[2015-07-31 04:49] pwalsh commented on #617
That should be sorted now. Please confirm

[2015-07-31 04:50] pwalsh commented on #581
done.

[2015-07-31 04:50] #581 closed

[2015-07-31 04:59] pwalsh opened #618 "General UI/UX bugs"
* [x] On submission/review page, remove UUID from the title
* [x] On submit form and submission/review page, content can overrun boxes like "Current Entry" when there is a lot of text. See example in #592
* [x] Weirdness with table heading when scrolling
* [x] Some markdown not being rendered. See example in #604
* [ ] Too easy to accidentally submit when in middle of data entry. See example in #6

[2015-07-31 05:01] pwalsh commented on #604
Moved into #618

[2015-07-31 05:01] #604 closed

[2015-07-31 05:02] pwalsh commented on #602
Moved to #618

[2015-07-31 05:02] #602 closed

[2015-07-31 05:03] pwalsh opened #619 "Better UI/UX to understand current "state of play""
# User stories

As a (Potential Submitter) I want to know which datasets for a country (or just generally) have not been checked this year so that I can go check them and update them if needed or leave them as is if ok.

As a Visitor/Submitter I want to know when an Entry was made / updated so that I can judge how likely it is to still be valid.

As a Submitter I want one clear and marked way to e

[2015-07-31 05:04] pwalsh commented on #601
Changes in #619 will cover this

[2015-07-31 05:04] #601 closed

[2015-07-31 05:04] pwalsh commented on #599
Changes in #619 will cover this

[2015-07-31 05:04] #599 closed

[2015-07-31 05:05] pwalsh commented on #595
Changes in #619 will cover this

[2015-07-31 05:05] #595 closed

[2015-07-31 05:05] pwalsh commented on #592
Moved to #618

[2015-07-31 05:05] #592 closed

[2015-07-31 05:07] pwalsh commented on #582
The implementation will really on comments, the changes in #608 and #581

[2015-07-31 05:07] #582 closed

[2015-07-31 05:08] pwalsh commented on #421
Closing as WONTFIX. Was added to global index last year.

[2015-07-31 05:08] #421 closed

[2015-07-31 05:12] pwalsh opened #620 "Enhancements to design + css"
@mintcanary will lead on this.

We want to bring the CSS forward from Bootstrap 2 to Bootstrap 3 or another framework, and work on other design enhancements, particularly on submission form and table views.

Also ref. last year's work on the [Global Index](http://index.okfn.org/), where we took the basics of the census site, and implemented on Bootstrap 3, with many enhancements to base color sche

[2015-07-31 05:14] pwalsh commented on #371
See https://github.com/okfn/opendatacensus/issues/620

[2015-07-31 05:14] #371 closed

[2015-07-31 05:15] pwalsh commented on #440
Moved to #618

[2015-07-31 05:15] #440 closed

[2015-07-31 05:16] pwalsh commented on #507
Moved to #618

[2015-07-31 05:16] #507 closed

[2015-07-31 05:18] pwalsh commented on #566
Moved to #618

[2015-07-31 05:18] #566 closed

[2015-07-31 05:20] pwalsh commented on #564
@morchickit @rgrp could also be useful in relation to https://github.com/okfn/opendatacensus/issues/620 and https://github.com/okfn/opendatacensus/issues/619?

[2015-07-31 05:24] pwalsh commented on #569
Checked all CLI commands. None are relevant anymore with new codebase and deployment methods.

[2015-07-31 05:24] #569 closed

[2015-07-31 05:29] pwalsh commented on #585
@morchickit there is no longer a user story for this issue, nor any clear technical action to take.

Therefore, I suggest we start a discussion in the forum to build lists of machine readable formats (and/or non-machine readable) with the wider community, and from there decide if there is action to take now or in near future for local census work, by farming it in a user story and prioritizing it.

[2015-07-31 05:29] #585 closed

[2015-07-31 07:55] pwalsh commented on #619
@morchickit @rgrp I've extracted a task list for myself out of the user story notes we have. Please have a glance and add any comments if you think I've missed something - we are covering a lot of ground here and I want to ensure we get it close to right on first take :).

[2015-07-31 09:33] morchickit commented on #619
Looks good do me!

[2015-07-31 09:35] morchickit commented on #564
No, it's a different on for the meanwhile.
I'll flag it to Neal as the local index product owner.
WONTFIX for now

[2015-07-31 09:46] rgrp commented on #619
Generally looks good. One point I've noticed so far:

* Is this just about front page or also about the "place" page (the colouring of "year / last updated" vintage needs to happen there as well)? Personally I would split this out as a separate issue so we don't get confused.

[2015-07-31 09:49] pwalsh commented on #619
Definitely I was dumping both in here, yes. I can split them out, agreed.

[2015-07-31 12:57] harry-wood opened #621 "login page missing name"
http://id.census.okfn.org/login says "Please login to contribute to the"

Missing some sort of name at the end of that sentence

[2015-07-31 12:59] harry-wood opened #622 ""Example banner text area gb city""
At the top of http://gb-city.census.okfn.org   I'm seeing a green box which looks like it should say something important but...   "Example banner text area gb city"

Looks like it needs to be filled in  or removed.

[2015-07-31 17:25] skorasaurus commented on #617
I had experienced the same bug a couple days ago with Cleveland; I can confirm that it's now fixed. Thanks @pwalsh

[2015-07-31 18:22] pwalsh commented on #617
@skorasaurus thanks!

[2015-07-31 18:22] #617 closed

[2015-08-02 23:01] vlevit opened #623 "Clent-side submission validation"
# User story
Currently the error messages on submission form are very obscure. On error user has to retype all the information. It would be much better if user couldn't make wrong choices.

For server side validation see  #610.

[2015-08-02 23:26] vlevit commented on #623
It's not finished yet but for the most part it should work.

The question order must be reviewed. It seems it doesn't follow [diagram flow] in every aspect. E.g. 'online' goes after 'free' on the diagram, and 'publisher' is just after 'exists' (is it right?)

[diagram flow]: https://docs.google.com/drawings/d/1jj0mnDjvzz-O8SNBgEhNTqsXa8SNdMoMeoxPoy-tBfE/

We do not handle expectFalse lists yet. It

[2015-08-02 23:38] vlevit opened #624 "Do not save unexpected values to DB on submission"
# User story

Currently `req.body` is [used as a base object for saving answers to DB][1]. Though the body can contain any parameters submitted by the user. We should limit answers to only those which we expect and validate.

[1]: https://github.com/okfn/opendatacensus/blob/develop/census/controllers/census.js#L211

[2015-08-02 23:45] vlevit opened #625 "Place and dataset validation"
We should validate place and dataset values on form submission against database values.

Currently they are [validated only for not empty values](https://github.com/okfn/opendatacensus/blob/feature/validation/census/controllers/utils.js#L140-L141).

Since proper validation will likely involves DB queries probably validateData has to be converted to async function.

[2015-08-03 09:31] rgrp commented on #575
I would say this is very secondary right now ;-) (we def want to do it but it could wait).

[2015-08-03 09:44] rgrp commented on #622
Good spot @harry-wood - this is because of the migration. Basically you set this in the config. Will correct now.

BTW: if you would like to act as a reviewer (checking submissions people have made) or admin (sorting config) for this UK local census and index let me know - we are looking for additional people right now!

[2015-08-03 09:46] rgrp commented on #622
FIXED. (banner gone)

[2015-08-03 09:46] #622 closed

[2015-08-03 09:47] morchickit opened #627 "Remove also on OKFN.ORG from the survey"
Hi,

This features is very confusing to submitters. They usually will not go and comment on other countries. Please remove it.
![screen shot 2015-08-03 at 10 45 47](https://cloud.githubusercontent.com/assets/3273659/9035134/00575466-39cd-11e5-8cd2-a8467e0c7326.png)

[2015-08-03 09:47] rgrp commented on #621
Good spot. Flagged to devs. Probably not urgent but we will fix (happened as a result of the refactor).

[2015-08-03 10:32] pwalsh commented on #627
As far I know, there is no way to remove this from disqus.

[2015-08-03 22:53] vlevit commented on #608
Hi,

It seems we can avoid iterating over N entries and making N `posts.lists` api calls to know which submissions the comments belong to. We can ask the api to include thread for every comment as follows

    disqus.posts.list({
      forum: config.get('disqus_shortname'),
      related: "thread",
    })

and get submission from `thread.link`.

Another point is to use `since` parameter to fetch o

[2015-08-04 02:03] ErnieAtLYD opened #628 ""Miami, FL" should technically be "Miami-Dade County, FL""
I hate to say this, but technically **Miami, FL** should be **Miami-Dade County, FL.** When we started entering data we didn't know better. Technically the county has an unincorporated county service area which is not the same as the city of Miami's service areas.

[2015-08-04 03:56] pwalsh commented on #628
Hi,

This is not a technical issue - it needs to be raised with the US City census administrators. Luckily, one of them is on here: cc @ondrae

[2015-08-04 03:56] #628 closed

[2015-08-04 07:18] #621 closed

[2015-08-04 07:19] pwalsh commented on #610
DONE.

[2015-08-04 07:19] #610 closed

[2015-08-04 07:26] pwalsh commented on #608
@vlevit looks good.

[2015-08-04 10:59] pwalsh commented on #552
@gvidon I **cannot** get the test changes you did running. If you have time can you take a look? I commented them for now so that we can see the other tests passing.

[2015-08-04 16:17] pwalsh commented on #620
Moved from #619 as they it is really a design issue:

* [ ] Refactor the display of info to be more informative than coloured bars

[2015-08-04 20:25] pwalsh commented on #619
DONE.

[2015-08-04 20:25] #619 closed

[2015-08-05 03:27] pwalsh commented on #606
FIXED.

[2015-08-05 03:27] #606 closed

[2015-08-05 15:50] pwalsh opened #631 "Configure OK staging server for census"
On Heroku.

*.next-census.okfn.org

See env vars for the production instance, and copy/modify for the staging instance.

[2015-08-05 20:08] schlos commented on #606
Thanks! I can confirm its working as expected.

[2015-08-05 21:25] Stephen-Gates commented on #620
Really look forward to improvements here as the recent changes are not pretty. Can we consider making:
- the year badge more subtle, (grey text, no background)
- fitting in with the existing colour scheme (if you need to use colour)
- only show year badge, if the entry is from a prior year?
- on hover over entry, show tip for 9 answers and button to update (and thus remove the button)

<img width=

[2015-08-06 08:06] morchickit commented on #620
HI @Stephen-Gates - yes, we are aware this is not the most looking page (yet!).,
great feedback. @mintcanary is working on the new design, he will look at these comments.

BTW - I am not a huge fan of tool tip, but Sam did take it into cosideration in the mock up.

[2015-08-06 12:34] Stephen-Gates commented on #620
Thanks @morchickit - I'll be patient and look forward to a new design. Happy to leave it to the experts.

[2015-08-10 08:41] vlevit commented on #608
So currently we have a script `check-comments.js` which can be run from cron for sending notifications and `email.js` which provides email-related utility functions. We send emails in both formats text and html. As it is considered a good practice always to have a plain-text fallback. We use a markdown file under `scripts/templates` as a template for nunjucks so we get both plain text (markdown) a

[2015-08-10 14:11] longhotsummer opened #632 "Old dataset not included in dataset sheet won't go away"
We have an old dataset "contracts" which we don't want included in our census at http://za-city.census.okfn.org/. Our dataset google sheet at https://docs.google.com/spreadsheets/d/13CGUOt5eeqOfhYr3J52u34WQpIs8FiUlrCLgEqnw8TI/edit#gid=2 doesn't include "contracts" at all.

Refreshing the datasets via the admin page has no effect, the dataset won't go away.

[2015-08-13 08:23] vlevit commented on #631
I set up the staging server. The database was imported from the production instance. We have reached the row limit of free plan though (12716/10000). We can either truncate the database or switch to Hobby Basic plan ($9/month).

I setup the Google app for staging server to make it possible to login and invite @rgrp and @pwalsh as owners of the app. I haven't tried registering the Facebook app. Pro

[2015-08-13 09:26] rgrp commented on #631
I would suggest we truncate in some way if we can.

[2015-08-13 10:55] vlevit commented on #631
Ok, we need to delete ~3000 rows.

Entry table has most of the entries: 8066. The Place table has 1874 rows.

If we count entries in each site we get the following numbers.

    SELECT site, COUNT(id) FROM entry GROUP BY site ORDER BY count DESC LIMIT 10;
      site   | count
    ---------+-------
     global  |  3265
     us-city |  1312
     ro-city |   700
     gr-city |   370
     it-city |

[2015-08-13 10:56] rgrp commented on #631
@vlevit as i said my sense is probably easier and more cost effective right now to pay heroku. We'll need to keep importing data across probably to try out migrations etc.

[2015-08-13 11:08] vlevit commented on #631
@rgrp good, if it's okay I'll migrate the database to Hobby Basic ($9/month) plan tomorrow. (I have some work to be done today on the client site validation of submissions).

[2015-08-13 13:41] Stephen-Gates opened #633 "demo.census.okfn.org submission is broken - missing questions"
I am only presented with one question on the demo site and that errors...

<img width="933" alt="screenshot 2015-08-13 23 39 17" src="https://cloud.githubusercontent.com/assets/9379524/9251080/bb444a50-4214-11e5-9123-580e83e9b9c4.png">

[2015-08-13 20:37] pwalsh commented on #632
@longhotsummer thanks. This is a bug, in the sense that he behaviour changed and it shouldn't have.

Still, we wouldn't expect datasets to be removed completely from a census: what about the history of submissions for a dataset - is it expected to be deleted if the dataset is removed from the sheet?

@morchickit / @vlevit fixing this bug is pretty easy, but requires additional tests. Currently, wh

[2015-08-14 09:45] rgrp opened #635 "Get rid of /census/ in urls"
E.g. /census/submit should be simply /submit/ etc

I discussed this with @pwalsh before he went away and we agreed the `/census/` was unnecessary. Minor but may be nice to fix before we go live especially as may break certain links and we will share urls like the submit link ...

/cc Up to @morchickit to prioritize or not

[2015-08-14 10:51] Stephen-Gates opened #636 "Open Content and Open Data Badges links wrong"
The Open Content and Open Data Badges links in the census footer are both going to the [Open Definition 2.1 draft](http://opendefinition.org/source/open-definition-2.1-dev.html)

[2015-08-14 11:03] longhotsummer commented on #632
This works for me. We haven't populated the census yet, we encountered this when testing.

Thanks!

[2015-08-14 17:46] pwalsh commented on #635
This is 1-2 hours work, and should be done before we go live with global census IMHO.

# Tasks

* [ ] grep for `/census/submit/` and `/census/submission/` in templates and controllers, and get rid of `/census`
* [ ] Change the way that the census router works. The code is an Express v4 app, and tries to use the Express routing system that was introduced in v4. The [current `/census/` routes follow

[2015-08-15 07:24] #636 closed

[2015-08-16 00:57] Stephen-Gates opened #639 "Inconsistent behaviour on click of dataset needing review"
When I click an existing dataset entry that has a proposed change I see this:

<img width="485" alt="screenshot 2015-08-16 10 27 32" src="https://cloud.githubusercontent.com/assets/9379524/9291427/2148b5ea-4402-11e5-8983-5952a6ce6bac.png">

When I click a dataset that has been submitted for the first time, this screen flashed:

![fullsizerender](https://cloud.githubusercontent.com/assets/9379524/9

[2015-08-16 01:11] Stephen-Gates commented on #639
Behaviour seems slightly different between Safari (better) and Chrome

[2015-08-16 04:18] Stephen-Gates opened #640 "http://index.okfn.org/place/ question indicators are wrapping"
<img width="326" alt="screenshot 2015-08-16 14 16 47" src="https://cloud.githubusercontent.com/assets/9379524/9291958/a38b4b70-4421-11e5-94b2-dd9c3dc5a644.png">

[2015-08-16 13:44] morchickit commented on #632
So, since it happen to me now as well in the Global census, this will need to be fixed ASAP (in my case, I change the name of the ID, which cause now to have double datasets name Geographical information). Let's fix it tomorrow. :-)

[2015-08-16 15:50] morchickit commented on #640
@mintcanary @pwalsh - this is for the next stage of the UX, not for the survey part. Will mark it for later.

[2015-08-16 16:21] pwalsh commented on #632
IDs absolutely cannot be changed - many things will break by changing an id - this was true in the old codebase and new codebase alike. NEVER change an ID for any object (place, question, dataset) that already has data.

@rgrp @vlevit

[2015-08-16 16:48] morchickit commented on #632
Yes, totally my fault! I feel like an idiot @pwalsh - is this why the census now have an application error?

[2015-08-17 05:45] pwalsh commented on #640
@morchickit this belongs on the Index issue tracker, not here. Please move it and close this.

https://github.com/okfn/opendataindex/issues

[2015-08-17 05:50] Stephen-Gates commented on #640
Sorry - my bad

[2015-08-17 05:53] pwalsh commented on #608
@vlevit please change the behaviour with `NotificationLog` so that it actually creates and queries a log - not just a single object per "type" that gets updated.

Also, what is the status? Is the issue done, and tests are complete? Has it been deployed to the staging server?

[2015-08-17 11:09] morchickit opened #641 "General bug fixes UX/UI"
* Fix the datasets names while scrolling up

[2015-08-17 11:34] Stephen-Gates opened #642 "Global Census Dataset typo "Health preformance""
Should be Health p**er**formance

[2015-08-17 13:17] morchickit commented on #642
Will fix!

[2015-08-17 13:18] morchickit commented on #642
Fixed!

[2015-08-17 13:18] #642 closed

[2015-08-17 21:33] ondrae opened #643 "Application error on submission view"
On the US City census, I can't view notifications. When I click on the comment button here, or any other notification:
![screen shot 2015-08-17 at 2 27 36 pm](https://cloud.githubusercontent.com/assets/595778/9316811/562401c6-44ec-11e5-9306-c74e1d6eba76.png)

I get an application error:
http://us-city.census.okfn.org/census/submission/996b320b-7447-475e-86cb-663104e80a1c

[2015-08-18 06:34] vlevit commented on #608
@pwalsh This branch is not merged and is not deployed anywhere since it's had open questions and the tests don't cover all the functions. I switched to more high-priority tasks.

As regards to tests. To reach 100% coverage of check-comments I believe we need to run a local smtp server and simulate responses from disqus. Probably for running smtp server we can try approach used in [emailjs tests].

[2015-08-18 07:01] Stephen-Gates commented on #641
Perhaps the dataset names at the bottom are no longer required if they float correctly at the top.

[2015-08-18 07:14] vlevit opened #644 "Corrupted question dependants values in the DB"
We have had the global index submission pages not working because of invalid dependant values in the DB. They looked as follows

           id        |        dependants
    -----------------+---------------------------
     openlicense     | {licenseurl,i,c,e,n,s,e,u,r,l}
     machinereadable | {format,o,r,m,a,t}
     online          | {url,r,l}

etc. @morchickit reimported the questions but it d

[2015-08-18 07:29] vlevit commented on #623
The branch was merged to develop and deployed to the live site.

Currently we hide inapplicable questions only when a new entry gets submitted. If a user updates the existing submission or the submission is in a review mode we display all the questions (and only relevant dependants) but inapplicable questions are disabled. That is because @morchickit suggested that the reviewer must see all the qu

[2015-08-18 07:56] vlevit opened #645 "Assets versioning"
Every time we change JS or CSS files and deploy to the production we put users that have those files in the browser cache at risk that they get the broken page or not working functionality until they reload the page. It's because by default browsers don't always send requests for resources on every page visit if they have those files in the cache.

The solution for this issue is to use versioning.

[2015-08-18 08:40] vlevit opened #647 "Add a check for permissions when submitting a review"
Currently we have a check if a user has the permission to review the submission on GET request: https://github.com/okfn/opendatacensus/blob/develop/census/controllers/census.js#L210

Though it seems we do not have such check on POST request which probably means that any user can successfully submit a review (even though the review page doesn't provide an easy way for this).

[2015-08-18 10:03] vlevit commented on #631
Hmm, I see the first @rgrp comment in full only now. I have a page open and probably GitHub propagates only new comments but not updates.

It appeared that only the owner of the Heroku app can manage paid addon resources. And the only owner of the staging server is @pwalsh.

[2015-08-18 17:20] nealbastek opened #653 "hiding local instances with no data"
If the listing of "active local instances" on the local census home page (http://census.okfn.org/local/) is automated, can we somehow hide the instances that have been created, but have no data in them? These don't look very 'active' and reflect poorly on us.

[2015-08-18 21:40] vlevit commented on #644
The bug was that we were merging a comma-separated string containing dependants and the array of split dependants. Though we needed just to overwrite a string by the array.

I tested questions reload on staging, then pushed to the production and then tested on the production.

[2015-08-18 21:52] vlevit commented on #644
I reloaded the questions for all the sites because most of them had contained the corrupted values.

[2015-08-19 00:10] Stephen-Gates opened #654 "{{Questions}} not processing Markdown"
Markdown is used in the questions for bold and dot points but is not displayed correctly
in the {{Questions}} tag e.g. http://australia.census.okfn.org/faq#questions

see questions:

- Openly licensed?
- Is the data machine readable?
- Is the data provided on a timely and up to date basis?
- Publicly available?

Same issue exists when making a revision (and I assume a first submission)
![questionm

[2015-08-19 07:33] morchickit commented on #654
Yes, I have noticed it too. @pwalsh  - I can't update the questions sheet since it's crashing the whole index when I am updating it. We need to look at it when you are back.

[2015-08-19 07:34] morchickit commented on #654
@vlevit - I know we said we can upload it safely, but will it affect the markdown?

[2015-08-19 09:19] vlevit commented on #654
@morchickit It's a totally different issue. I fixed the question loading bug (#644) so it shouldn't cause server errors. If markdown didn't work before it shouldn't start working now.

[2015-08-19 09:25] morchickit commented on #654
@vlevit thanks!
Markdown used to work before. I don't know why its not working now...

[2015-08-19 09:30] vlevit commented on #654
@morchickit My patch very unlikely could make markdown not working. Probably it's already not been working for some time. I'll have a look.

[2015-08-19 09:31] morchickit opened #655 "Add names of community coordinators to the Index survey main page"
As a user I want to know who is the coordinator in my area so I can ask them for guidance.
@mintcanary - I think we should put this somewhere prominent in the page so people will know who to contact. In addition, we might also want to link to the forum home page. Currently the text that is in the homepage is from this excel - https://docs.google.com/spreadsheets/d/1BOsVfqSf3d1qitsrnqy500xkMawPxPtX

[2015-08-19 09:56] mintcanary commented on #655
Will these coordinators be providing their email addresses here?

Under what circumstances should users contact coordinators directly, rather than ask for guidance in the forum?

[2015-08-19 10:02] morchickit commented on #655
Not everyone feel comfortable in the forum, so I guess this is for more 1 on 1 guidance of how to use the Index survey, and yes, I we will add their emails.

[2015-08-19 10:45] vlevit commented on #654
@Stephen-Gates @morchickit I've pushed changes to the staging server:

http://australia.next-census.okfn.org/faq
http://global.next-census.okfn.org/census/submit/?place=au&dataset=timetables

Does it look good for you?

[2015-08-19 10:46] mintcanary commented on #655
OK. I guess the most straight forward and flexible solution would be to just expand on the HTML that is already in that spreadsheet. Something like:

[code]

[2015-08-19 11:29] Stephen-Gates commented on #654
@vlevit looks good to me - thanks - can close

[2015-08-19 12:24] longhotsummer commented on #644
The develop branch still has this when reloading items that are arrays (eg. reviewers for datasets, dependants for questions, etc.)

[2015-08-19 12:44] vlevit commented on #644
@longhotsummer Good catch! You are right, we have to fix those too: reviewers for both datasets and places. But dependants for questions should be fixed, right?

[2015-08-19 13:00] longhotsummer commented on #644
Yes, dependants for questions is fixed, my bad.

[2015-08-20 07:13] vlevit commented on #644
Reviewers for dataset and places should be fixed. Deployed to the production and reloaded.

It seems we don't have yet any reviewer for any dataset and we only have reviewers for US cities.

[2015-08-20 07:15] pwalsh commented on #644
@vlevit correct: no dataset reviewers and only place reviewers in US cities.

[2015-08-20 08:07] pwalsh commented on #620
@morchickit can we close this issue now? As far as I see, this is done, and more specific UI/UX changes are treated in their own issues.

[2015-08-20 08:24] mintcanary commented on #620
Just to note that the only work I've done is the table stuff. No attempt has been made to upgrade to Bootstrap 3 for example (this didn't seem a priority at this point).

[2015-08-20 08:30] pwalsh commented on #654
@vlevit tasks to complete and close this issue:

* [ ] As discussed render markdown to HTML in loaders on explicit fields in config, questions, places, datasets
* [ ] Remove all related markdown filters from templates
* [ ] Deploy to staging, and reload all data for all censuses
* [ ] Deploy to production, and reload all data for all census

[2015-08-20 08:33] pwalsh commented on #631
Tasks:

* [ ] Enable hobby plan for Heroku Postgres
* [ ] Copy a dump of current Production database to the staging server

[2015-08-20 08:35] pwalsh commented on #653
@nealbastek ok. Should be quite easy, but low priority for now.

[2015-08-20 08:36] pwalsh commented on #645
@vlevit agree this is important, especially with the amount of changes we have made. Let's do it in this sprint.

[2015-08-20 08:37] morchickit commented on #620
All depends on Sam. From my point of view, its good!

On Thu, Aug 20, 2015 at 9:24 AM, Sam Smith <notifications@github.com> wrote:

[2015-08-20 08:41] pwalsh commented on #644
FIXED.

[2015-08-20 08:41] #644 closed

[2015-08-20 08:56] vlevit commented on #631
I think it's done.

[2015-08-20 08:59] mintcanary commented on #620
Sorry to pass the buck, but I think it depends on the current objectives and budget. There is loads that can be done to enhance the design. You could include the introduction of some branding in this.

On the Bootstrap front, if we are concerned with visual design at this stage, then updating Bootstrap would be one useful step in a significant chunk of work. It's not clear whether there is the dem

[2015-08-20 09:13] pwalsh commented on #620
@morchickit and @mintcanary ok - just decide :).

[2015-08-20 09:24] pwalsh commented on #623
Tasks:

* [ ] Fix bug where the `exists` dependants do not display when exists is yes, but they do display when `public is yes
* [ ] Reapply current dependant answer(s) instead of reset, if a parent answer was changed, and then changed back to original state

[2015-08-20 09:25] pwalsh commented on #643
FIXED.

[2015-08-20 09:25] #643 closed

[2015-08-20 09:26] pwalsh commented on #641
FIXED.

[2015-08-20 09:26] #641 closed

[2015-08-20 09:27] pwalsh commented on #640
moved to https://github.com/okfn/opendataindex/issues/98

[2015-08-20 09:27] #640 closed

[2015-08-20 09:29] pwalsh commented on #639
@mintcanary can you check this (I'm assuming you implemented it, LMK if not)?

[2015-08-20 09:31] pwalsh commented on #632
@vlevit I'm assigning to you. I need to right a spec for you for this. Let's sync on it in tomorrow's standup.

[2015-08-20 09:32] pwalsh commented on #552
@gvidon please take a look.

[2015-08-20 09:33] pwalsh commented on #564
@nealbastek for you consideration.

[2015-08-20 09:34] pwalsh commented on #618
@morchickit please see the list above, and confirm what we want done now.

[2015-08-20 09:35] pwalsh commented on #627
WONTFIX.

[2015-08-20 09:35] #627 closed

[2015-08-20 09:57] mintcanary commented on #639
Thanks for flagging this @Stephen-Gates and @pwalsh

There are two options here:
 - Treat every cell the same, i.e remove direct action links
 - Avoid popup appearing when there is no data

I'm always keen to get user input where possible. @Stephen-Gates it sounds like you'd prefer the first of those two options. Is that correct?

[2015-08-20 10:20] pwalsh commented on #631
FIXED.

[2015-08-20 10:20] #631 closed

[2015-08-20 10:21] pwalsh commented on #655
@morchickit are we sure that all admins would want their email exposed to anyone who visits the census they administer? I think the forum is a more suitable place....

[2015-08-20 13:08] Stephen-Gates commented on #639
@mintcanary my expected behaviours:

- clicking an existing dataset with a revision shows a popup.
Question - should the popup show the current or revised answers? (my leaning is current).
- clicking a new dataset with a submission waiting for review shows a popup - icons should show proposed answers, not `unsure` (we already know there's no data).
- clicking `+ Add` goes to straight to submit scr

[2015-08-20 13:23] pwalsh commented on #424
I'm closing this. The new UX for the overview page takes care of the main user flow we want to support.

[2015-08-20 13:23] #424 closed

[2015-08-20 14:03] pwalsh commented on #654
FIXED.

[2015-08-20 14:03] #654 closed

[2015-08-20 17:26] pwalsh commented on #635
FIXED.

[2015-08-20 17:26] #635 closed

[2015-08-20 17:31] pwalsh commented on #580
@morchickit what is the bug, exactly:

1. The fact that we still display a UI element for "date available"?
2. The fact that we don't show a question anymore for data available?

I'm sure it is 1 - we removed this question in previous years, but I want to ensure that you agree: the action I should take is removing the display of "date available" from the information row for an entry.

[2015-08-20 17:42] pwalsh commented on #608
@vlevit ok. just note my comment above:

[2015-08-20 17:43] morchickit commented on #580
This can confuses me. Can we skype about it ?

[2015-08-20 17:44] pwalsh commented on #580
yep

[2015-08-20 20:04] Stephen-Gates commented on #580
Sorry If I've caused confusion.
 - Recent changes have fixed 2 - the question isn't asked in the submission form or shown in {{questions}}  E.g. [working here](http://australia.census.okfn.org/faq/#questions).
 - So, in my mind the question is, should we still display a calendar icon for `date available`?

The current behaviours are valid and you could close this issue now.

My question is,
- do y

[2015-08-21 08:19] vlevit opened #657 "Log stack trace when error occurs in a promise"
Currently we use `console.log.bind(console)` as a catch handler in promises. It logs the error message but not the the stack trace. This makes debugging harder. We should replace this handler with the one which would log the stack trace.

See discussion in pull request #649.

[2015-08-21 08:41] mintcanary commented on #639
I think we need to be consistent with whether we show current or revised answers, so let's stick with current throughout for now. Maybe revised answers could be added (in addition), at a later stage.

I guess that makes the popup equally valueless in both scenarios, and we should disable the popup when there is no (current) data.

[2015-08-21 08:55] vlevit commented on #647
@pwalsh Let me know if I need to merge this to master and push to the production.

[2015-08-21 08:56] Stephen-Gates commented on #639
Agree

[2015-08-21 08:58] pwalsh commented on #647
@vlevit yes great - go ahead.

[2015-08-21 09:04] vlevit commented on #647
@pwalsh Merged to master and pushed to the production.

[2015-08-21 09:09] pwalsh commented on #647
FIXED.

[2015-08-21 09:09] #647 closed

[2015-08-21 10:39] morchickit opened #658 "Accept new submission feature is not working"
@pwalsh , @vlevit - currently all submission are automatically accepted, and it doesn't matter if the value under approve_first_submission is true or false. Can you look and see what the problem is? And the global Index we want new submission NOT to be automatically accepted.

[2015-08-21 12:01] vlevit commented on #658
The issue was in the global index spreadsheet. We have defined `approve_first_submission` settings two times: once one on the top and the second time near the bottom. The latest one was set to `TRUE` and it took precedence over the first one. That is why changing the first setting hasn't had any effect.

I removed `approve_first_submission` setting on the bottom and reloaded the config on the prod

[2015-08-21 12:05] morchickit commented on #658
Great! Thank you! Closing this issue now.

[2015-08-21 12:05] #658 closed

[2015-08-21 12:45] Stephen-Gates opened #659 "Add Open Knowledge Favicon.ico and apple-touch-icon.png to all Census"
At present only the meta and global census have an Open Knowledge Favicon.
<img width="596" alt="screenshot 2015-08-21 22 30 48" src="https://cloud.githubusercontent.com/assets/9379524/9408301/ea788f52-4854-11e5-9ea2-8c28f3013ad3.png">

I don't believe any census has an Apple-touch-icon.png [as used in the open data handbook](https://github.com/okfn/opendatahandbook/blob/gh-pages/apple-touch-icon.

[2015-08-21 15:09] morchickit opened #660 "Review section still showing although I have no permission to review a dataset"
![screen shot 2015-08-21 at 16 08 35](https://cloud.githubusercontent.com/assets/3273659/9411633/02ea4232-481f-11e5-9a90-8d769d259619.png)

[2015-08-21 15:13] morchickit commented on #658
I saw another approve_first_submission ? I remover it as well.

[2015-08-21 16:00] pwalsh commented on #660
You do have permissions as you are a global reviewer

[2015-08-21 16:20] morchickit commented on #660
Yes, and when I wanted to submit it gave me an error that I am not a
submitter. :-\

On Fri, Aug 21, 2015 at 5:00 PM, Paul Walsh <notifications@github.com>
wrote:

[2015-08-22 05:53] pwalsh commented on #660
FIXED. bug was introduced yesterday in #647.

[2015-08-22 05:53] #660 closed

[2015-08-23 12:25] pwalsh commented on #633
FIXED.

[2015-08-23 12:25] #633 closed

[2015-08-23 12:54] #590 closed

[2015-08-23 13:38] pwalsh commented on #608
@vlevit note, I've now added a staging Disqus account: 'opendatacensusnext'. Our staging server is already configured to use it.

Please put finishing this task as high priority on Monday.

[2015-08-24 10:18] morchickit opened #661 "Edit the content pages of the website not through Excel"
Currently it is painful to edit the content pages through the spreadsheet. It will be nicer to have it somewhere else.

[2015-08-24 10:21] morchickit opened #662 "Add tutorial page to the content pages"
https://docs.google.com/a/okfn.org/document/d/1NZK2B8eL3_MVB-zkIoMWYSQxG8GrIL51JItQXBpDinw/edit?usp=drive_web

[2015-08-24 10:24] pwalsh commented on #661
Noted. Putting in Backlog.

[2015-08-24 17:57] ondrae opened #664 "Broken icon link on dataset page"
On http://us-city.census.okfn.org/dataset/asset-disclosure the little icons for the comments about a dataset aren't working.
![screen shot 2015-08-24 at 10 56 22 am](https://cloud.githubusercontent.com/assets/595778/9447988/f567625c-4a4e-11e5-8ef1-adf9f027cc04.png)

I may be remembering wrong, but I though those had a popup that showed the comments the submitter had about their submission.

[2015-08-24 20:24] ondrae opened #665 "Datasets long description not showing"
#### Description
We used to have a long detailed explanation of a dataset available on that datasets page. These are missing now, only the short description is showing.

For example in [this spreadsheet](https://docs.google.com/spreadsheets/d/1XYuDo5WLW4B-5Yi7gXiO_yxUTKYTizey07q3B0UV4Ko/edit#gid=2), we have a short description and a long description. Sunlight Foundation did a great job describing

[2015-08-25 04:37] pwalsh commented on #662
@morchickit This has been added to the code, and I also added the `tutorial_page` key to the global config. You can now add the content you want and reload the config.

[2015-08-25 04:37] #662 closed

[2015-08-25 04:37] pwalsh commented on #608
DONE.

[2015-08-25 04:37] #608 closed

[2015-08-25 04:57] Stephen-Gates opened #666 "Typo on http://census.okfn.org/contact/"
Open Data Index d**u**scussion forum.

discussion

[2015-08-25 04:59] Stephen-Gates opened #667 "http://census.okfn.org/global/ should refer to Forum not Email list"
http://census.okfn.org/global/  states "Please add your suggestions to this Google Spreadsheet and **email the mailing list** with your suggestion so that people can discuss it."

Should refer to https://discuss.okfn.org/c/open-data-index instead

[2015-08-25 05:18] Stephen-Gates commented on #662
Cool. I'll be using this soon - thanks

[2015-08-25 06:32] longhotsummer commented on #632
Any progress here? It would be awesome if someone could just clean out our za-city census dataset and entry tables completely so we can start fresh, this bug is preventing us from user it.

[2015-08-25 06:38] pwalsh commented on #632
@longhotsummer we are happy to get pull requests :).

It is scheduled for this week but not guaranteed: we accept it as a bug but in "normal" use it does not cause an issue.

Rest assured, we'll update here as soon as it is ready to ship. In the meantime, if you want me to clear out `za-city` datasets so you can reimport.

BTW, this issue only covers datasets. If you've also created Entries with "

[2015-08-25 06:40] longhotsummer commented on #632
@pwalsh thanks for digging -- if you could clear out za-city that would unblock us, thanks.

I'll see if we can find time to send a pull request.

[2015-08-25 06:41] pwalsh commented on #632
@longhotsummer I'm talking to @vlevit shortly and I'll be checking when we can start this. So, don't start any coding without first updating here and saying "hey, I want to look at this now".

[2015-08-25 07:03] Stephen-Gates opened #668 "IE11 Wide screen formatting"
In IE11 when I resize the screen to wide I get this weird formatting. Note the duplicate columns.

Works fine in Chrome.

![widecensusie11](https://cloud.githubusercontent.com/assets/9379524/9460582/e9a5a60c-4b4a-11e5-8ff0-b6f7ee8ad096.PNG)

[2015-08-25 07:37] pwalsh commented on #632
@longhotsummer ok, we are working on this today. Also, I've just cleared out za-city datasets and entries.

[2015-08-25 07:39] morchickit commented on #632
@pwalsh - sure, i can do it. Is it fine if I'll do it this afternoon?

[2015-08-25 07:39] pwalsh commented on #632
@vlevit

## Tasks

* [ ] Ensure the current loader tests work
* [ ] Refactor the loaders so that instead of upsert, we delete then insert for the given site.
* [ ] Update tests for the new changes to the loaders
* [ ] Extend test coverage if applicable (your call)
* [ ] Make a PR and I'll check

[2015-08-25 17:33] ondrae opened #669 "Can't login to /admin"
Am getting an error today when trying to login to the /admin site. It redirects me to http://id.census.okfn.org/# and am getting this error
![screen shot 2015-08-25 at 10 28 40 am](https://cloud.githubusercontent.com/assets/595778/9474309/b4648386-4b14-11e5-951b-be4cfacfaa81.png)

[2015-08-25 18:21] pwalsh commented on #669
Ok, what fun!

This is solved now.

The problem: we use in memory sessions (inadvisable, I know) and we rely on the session to store redirect info to get the user around from the id domains and back to where s/he was.

A few hours ago, we scaled up to 2 dynos, and this conflicts with the session state due to this storage being dyno-specific.

Obviously we want to be good 12 factor app/stateless se

[2015-08-25 18:21] #669 closed

[2015-08-25 18:27] ondrae commented on #669
Oh man, the exact same thing happened to me with my fork at
https://service-census.herokuapp.com/.

Right before our big event, where everyone was going to fill it out, I
thought I'd be smart and increase the number of dynos. Whoops.

Andrew Hyder
Developer Advocate :: 2013 Fellow
@hackyourcity <http://twitter.com/hackyourcity>

On Tue, Aug 25, 2015 at 11:21 AM, Paul Walsh <notifications@github.co

[2015-08-25 18:27] pwalsh opened #670 "Store sessions somewhere else"
[See the consequences here](https://github.com/okfn/opendatacensus/issues/669#issuecomment-134692443)

The census code always managed sessions in memory. This worked fine for 50+ distinct instances that did not need to scale, even if it was always inadvisable.

Now that we have a large multi-tenant instance, we've hit a blocker. I tried to scale out to 2 dynos and therefore the dynos had different

[2015-08-25 18:29] pwalsh commented on #669
https://github.com/okfn/opendatacensus/issues/670

[2015-08-25 18:29] pwalsh commented on #669
@ondrae yep, launch day blues :)

[2015-08-25 21:29] ondrae commented on #665
I've tried using our long descriptions in the descriptions column. It bugged out
![screen shot 2015-08-25 at 2 24 09 pm](https://cloud.githubusercontent.com/assets/595778/9480003/1b59fd8a-4b35-11e5-9a3a-fddad0b609a2.png)

Does OKFN want to be able to use long descriptions again? If not, its okay. I can think of some ways for us to get around this. Like adding all those long descriptions to a table

[2015-08-26 02:50] Stephen-Gates commented on #659
You can find the FavIcons here https://drive.google.com/drive/folders/0ByBC-sFwdwtJR0I5QzJNdC1lcjA

[2015-08-26 04:54] pwalsh commented on #665
@ondrae sure, I did not intentionally remove support. I've not seen long description before, and it is not documented ;). Your links to your original PRs help. I'll have a look but it will take a couple of days.

[2015-08-26 05:47] Stephen-Gates opened #671 "Allow Support in top navigation to be configured to link to a Local Census Forum"
The new Support link in the top navigation bar links to https://discuss.okfn.org/c/open-data-index

Consider allowing this to be configured in the [configuration file](http://census.okfn.org/site-admins/#general-config-options) so that a Census with a local forum (e.g. [Australia](https://discuss.okfn.org/c/open-data-index/australia-index), [USA](https://discuss.okfn.org/c/open-data-index/us-city-

[2015-08-26 06:02] pwalsh commented on #671
Thanks @Stephen-Gates it is a great idea, but going to the backlog for now until the Global submissions period is over.

[2015-08-26 06:03] pwalsh commented on #665
Also, we will be more than happy to accept PRs for this :). But if not, I'll get it done as soon as I can.

[2015-08-26 06:05] pwalsh commented on #659
Yes, we should fix this.

[2015-08-26 06:06] pwalsh commented on #618
@morchickit I'm unassigning myself from this. Can you let me know if something here is critical?

[2015-08-26 06:11] Stephen-Gates commented on #671
@pwalsh No problem - there's always plenty to do!

[2015-08-26 17:13] morchickit commented on #618
Didn't we do 604?

[2015-08-26 17:17] morchickit commented on #665
Hold your horses - Paul, with all my love to the long descriptions, we have other local census issues to priorities before fixing it. @ondrae - in case you are not going to PR this, can you sync with sunlight and see if this is still needed and if there are any more requirements so we can look at all of them at once? @nealbastek - can you sync with @pwalsh and see what are the local index bugs and

[2015-08-26 17:19] pwalsh commented on #665
Don;t worry @morchickit , the horses are in the stables ;)

[2015-08-26 17:29] morchickit commented on #666
Done.

[2015-08-26 17:29] #666 closed

[2015-08-26 17:30] morchickit commented on #655
sorry, I missed this.
OK, can we add the forum to this?

[2015-08-26 18:09] jgkim commented on #497
+1 for this idea. If it's non-trivial to implement, at least we need to explicitly state the time zone that's used to describe the date and time. Currently, it's difficult to know which time zone the census uses.

[2015-08-27 08:14] mintcanary commented on #655
There is already a link to the forum in the main navigation. One could be added to the body also, either  using my text above or your own.

[2015-08-27 12:02] pwalsh commented on #632
FIXED.

[2015-08-27 12:02] #632 closed

[2015-08-28 09:26] pwalsh opened #676 "Performance of homepage"
There is lots of data processing going on for this page, and response times have become even slower now that Global Census submissions are live.

This will also help us scale out: https://github.com/okfn/opendatacensus/issues/670

But we can do work on the data processing too, which is significant, and happens synchronously after the initial DB queries. The problem is, essentially, that this view

[2015-08-30 14:59] #670 closed

[2015-08-31 18:05] gr33ndata opened #677 "Error: format: You must not specify this field"
While submitting the Transport Dataset for Tunisia, I got the following error (screenshot
![screen shot 2015-08-31 at 16 47 59](https://cloud.githubusercontent.com/assets/135069/9586196/9952e5a4-501b-11e5-94dd-244fbb62334c.png)
)

[2015-08-31 18:54] pwalsh commented on #677
Hi there.

Could you please let me know the Y/N inputs you provided for the questions?

[2015-08-31 20:24] gr33ndata commented on #677
I almost left last year's submission as it is, and added few more lines to the comment

[2015-08-31 20:25] gr33ndata commented on #677
By the way, when this error is shown, the values in the text fields is duplicated, like, if a field has a url, "www.url.com" it end up being "www.url.comwww.url.com". Not sure how this note is useful.

[2015-09-01 06:23] pwalsh opened #678 "Google deprecating web hosting from Drive"
http://googleappsupdates.blogspot.com/2015/08/deprecating-web-hosting-support-in.html

We use this as an "admin" interface for site administrators, and read the spreadsheets that admins edit in Google Drive, as CSV data via a url pattern available when the "public on the web" setting is activated.

This setting will be deprecated in August 2016.

Seeing as the app itself just needs a URL to a CSV

[2015-09-01 15:02] gr33ndata commented on #677
Got a similar error when submitting the budget for Tunisia. Seems like there is a problem with the Tunisian dataset or something.

![screen shot 2015-09-01 at 17 00 55](https://cloud.githubusercontent.com/assets/135069/9607758/346e4948-50cb-11e5-9005-eca35416981b.png)

[2015-09-02 19:45] pwalsh commented on #677
Hi @gr33ndata this should be fixed. Please confirm.

[2015-09-02 19:47] pwalsh commented on #676
FIXED.

[2015-09-02 19:47] #676 closed

[2015-09-03 21:10] gr33ndata commented on #677
It works now, thank you

[2015-09-03 21:10] #677 closed

[2015-09-04 10:17] longhotsummer commented on #678
I'm not convinced that they're deprecating exposing sheets as CSV. That's part of their Sheets API. I think they're disabling the ability to host google drive content as a static website.

[2015-09-04 10:21] longhotsummer opened #680 "Input boxes for "Publicly Available" question in the wrong place"
When I click Yes for "Publicly Available", the publisher and description input boxes appear "does the data exist?, not underneath Publicly Available.

This happens on both us-city and za-city.

[2015-09-05 18:17] pwalsh commented on #678
@longhotsummer yes, I think you are right. I checked with some contacts I have too, and it seems that this change does not apply to our use of spreadsheets. Closing.

[2015-09-05 18:17] #678 closed

[2015-09-06 19:32] nealbastek opened #681 "eventguide page"
@pwalsh can you do what you need to configure us a new content page at:

http://global.census.okfn.org/eventsguide/

Same set up as http://global.census.okfn.org/tutorial/

Thank you! @morchickit has content and will update that.

[2015-09-07 05:57] pwalsh commented on #681
@nealbastek @morchickit

Any page we add becomes part of the codebase and part of the configuration for every single census (local, regional), not only the global.

An "Events Guide" page seems quite specific, and not of general use as part of the codebase.

What is the user story for the new page? Why does it need to be part of the codebase itself, rather than, say, a thread on the forum?

[2015-09-07 05:58] pwalsh commented on #681
(assigned to Mor as Neal is not yet assignable on this repo - sent invite to join)

[2015-09-08 09:15] longhotsummer opened #683 "On overview page, hovering over a dateset doesn't show the + in Chrome like it does in Firefox"
It shows it briefly, but once the page is loaded that functionality stops.

[2015-09-10 05:59] pwalsh commented on #680
FIXED.

[2015-09-10 05:59] #680 closed

[2015-09-10 06:00] pwalsh commented on #683
Hey @mintcanary are you able to have a quick look at this? If not LMK.

[2015-09-10 07:04] jgkim opened #685 "Multiple URIs in the field of "URL of data online" in the census"
Sometimes people need to input multiple URIs to the field of "URL of data online." In [my case](http://global.census.okfn.org/submission/de3d1e14-7a56-440d-b03a-40fc385de957?post_submission=/submission/de3d1e14-7a56-440d-b03a-40fc385de957), for the health performance category, the required datasets are provided by two different organizations so URLs of data online is two different ones. However, t

[2015-09-10 07:09] pwalsh commented on #685
Hi @jgkim

This has been talked about before, and decided that it is not worth adding tot he code at this stage for the benefit it provides in a subset of cases.

Suggestion: this should be taken up in the forum (https://discuss.okfn.org/c/open-data-index) with @morchickit and @nealbastek - if they prioritize it, we can then look from there at the possibility of implementation.

For now, I'm closi

[2015-09-10 07:09] #685 closed

[2015-09-10 07:11] jgkim commented on #685
Thanks @pwalsh.

I've already posted a topic on the forum: https://discuss.okfn.org/t/multiple-uris-in-the-field-of-url-of-data-online-in-the-census/1143

[2015-09-10 08:43] mintcanary commented on #683
@pwalsh a quick look shows it working fine in my version of Chrome. @longhotsummer what version of Chrome are you using?

[2015-09-10 08:49] longhotsummer commented on #683
Yup, this is fixed now both on census.okfn.org and after I caught up with develop. *shrug*

[2015-09-10 08:49] #683 closed

[2015-09-11 14:28] schlos commented on #522
@pwalsh Hi!
Any chance to upload Croatian translation to local city census instance (hr-city)?

[2015-09-14 07:45] pwalsh commented on #618
@kravets-levko I'm assigning to you to look at if you get time. note that some tasks are done.

[2015-09-14 07:49] pwalsh commented on #645
@kravets-levko another one to look at if time permits.

# Tasks

* [ ] We should build/bundle our public (front end) assets (jss and css)
  * [ ] Note that you can use gulp tasks that we already have on other code bases you are working on
* [ ] We should version them as noted above
* [ ] We should have a build task for developers to run locally and build assets, but also, a `postinstall` script so

[2015-09-14 07:52] pwalsh commented on #623
Hey @vlevit ! Can you please just give us a rundown on what tasks you think are remaining here, and we'll finish it off. Thanks!

[2015-09-14 07:52] pwalsh commented on #620
FIXED.

[2015-09-14 07:52] #620 closed

[2015-09-14 12:07] vlevit commented on #623
Hi Paul! Sorry that I've not updated the issue earlier. I just made the easy change to make `publisher` and `officialtitle` depend on `exists`. The patch is available here: http://vlevit.org/u/0001-Make-questions-publisher-and-officialtitle-depend-on.patch

As for the re-appliance of answers, unfortunately I've not found time to implement that.

As for `machinereadable` and `format` fields. I thin

[2015-09-14 19:38] pwalsh commented on #623
Thanks @vlevit

I did those exists dependencies already, but thanks.

For the others, I'll leave it for now.

[2015-09-20 21:49] Stephen-Gates opened #687 "Scaling of census table breaks page header"
As I narrow the screen width, at some point the census table gets scaled to remain in full view on the page. This is great but it causes the icon the top right to drop out of place.

<img width="1184" alt="screenshot 2015-09-21 07 48 01" src="https://cloud.githubusercontent.com/assets/9379524/9983126/2927077c-6035-11e5-9893-b8b1883e8577.png">

[2015-09-20 23:35] morchickit opened #688 "Add conditions to unsure"
A simple example: if "exists" is "Unsure", then without conditions, "digital" could be "Yes", which would obviously be wrong.
see here- https://discuss.okfn.org/t/health-datasets-what-do-we-want-to-measure/506/28

[2015-09-21 09:18] Stephen-Gates commented on #688
In addition to correcting the survey, can this page also be updated http://census.okfn.org/survey-flow/ ?

[2015-09-21 21:00] Stephen-Gates opened #689 "Some Links in /Changes not working"
On the [Changes page](http://australia.census.okfn.org/changes/) links to rejected or new submissions don't go to the submission so it can be (re)viewed but link back to the Changes page.

[2015-09-22 04:35] Stephen-Gates opened #690 "Bulk data entry?"
I have requested the Queensland Government to release the [ward map](http://au-city.census.okfn.org/dataset/ward-maps) data for all local councils within Queensland. If it is released, then I'll need to add 77 submissions that would be all the same.

Is there an easy way to do this and similarly an easy way to review and approve the submissions?

If each State releases this data then through 8 bul

[2015-09-22 04:46] pwalsh commented on #690
Definitely no plans for bulk import of submissions, but we'd happily accept pull requests that contribute such a feature.

[2015-09-24 13:51] Stephen-Gates opened #691 "Error in USA Government Spending 2014/15"
The USA had an [entry for Government Spending in 2014](https://twitter.com/AuOpenDataIndex/status/645281587291025408) now it is [gone](http://global.census.okfn.org/year/2014). The [2015 submission is approved](http://global.census.okfn.org/place/us/2015) and has a new submission on it - not sure if these two things are related.

[2015-09-24 14:11] morchickit commented on #691
So, I Accepted the submission for 2015 and re-submitted again for the reviewer to look at it. @pwalsh can you check why it's gone on the data fro 2014?

[2015-09-24 14:12] morchickit commented on #691
And thanks @stefanw for flagging this!

[2015-09-24 15:17] pwalsh commented on #691
Hi all. I found the bug. No data is lost, don't worry. I'll push a fix soon.

[2015-09-24 20:29] pwalsh commented on #691
FIXED in https://github.com/okfn/opendatacensus/commit/78564f7ca09ce94cca2a49062f6249576aadf304

and with the following SQL to fix data on 21 records across the whole instance (global and all local census instances):

[code]

[2015-09-24 20:29] #691 closed

[2015-09-28 12:05] stevage commented on #575
Ever so slightly ironic filling in a survey that judges organisations on whether or not they allow bulk download of their data when... :)

I actually want to use the data from au-city.census.okfn.org to make a map. Basically, a census version of http://map.opencouncildata.org/

[2015-09-28 12:12] pwalsh commented on #575
@stevage ok. we are scheduled to do it this week, as you can see it is assigned. On the other hand, this an open source project and we are happy to get PRs.

[2015-09-28 12:15] stevage commented on #575
Whoops, sorry for unintended snark.

[2015-09-28 12:23] pwalsh commented on #575
@stevage no worries.

[2015-09-29 11:47] longhotsummer commented on #689
Yeah, this sucks for scanning for new changes :(

:+1:

[2015-09-30 07:31] kravets-levko commented on #657
I think, console.trace should be a good replacement for console.log as it prints something like this:
<pre>
Trace: Error
    at Object.<anonymous> (/var/www/okfn/opendatacensus/census/routes/index.js:12:9)
    at Module._compile (module.js:460:26)
    at Object.Module._extensions..js (module.js:478:10)
    at Module.load (module.js:355:32)
    at Function.Module._load (module.js:310:12)
    at Mod

[2015-09-30 11:52] pwalsh commented on #657
fixed in develop

[2015-09-30 11:52] #657 closed

[2015-09-30 11:53] pwalsh commented on #681
@mor can we close this?

[2015-09-30 12:10] #623 closed

[2015-09-30 12:24] pwalsh opened #693 "Simplify show/hide of fields on form"
# Description

In the last codebase of the census, we introduced [additional conditions between questions](https://github.com/okfn/opendatacensus/blob/develop/census/controllers/utils.js#L16). These conditionals help us collected more standardised data.

The condition checks are done servers-side.

We also decided to mimic the server-side checks in the client, and additionally, show/hide fields ba

[2015-09-30 12:25] pwalsh commented on #623
Will revert in https://github.com/okfn/opendatacensus/issues/693

[2015-09-30 12:34] pwalsh commented on #688
The edge cases that this causes weird behaviour in will be further reduced in https://github.com/okfn/opendatacensus/issues/693 because all fields with data from the previous entry will be visible to the user (and therefore easily changed).

[2015-09-30 12:39] pwalsh commented on #688
So @morchickit how should the behaviour be?

I'll give an example:

If "digital" is Unsure, do "online", "machinereadable" and "bulk" all need to be "Unsure"? (If "digital" was "No", they'd all have to be No).

So, the methodological issue here is:

* If a parent is "Unsure", does that mean all children are also "Unsure"? (same pattern as how "no" works)
* If not, what is allowed for children when

[2015-09-30 13:06] pwalsh commented on #688
Talked with @morchickit

* If digital is Unsure, then all its conditioned questions are Unsure
* For others, if they are Unsure, the others have no condition (can be Yes, No, or Unsure)

[2015-09-30 14:35] borysyuk commented on #689
https://github.com/okfn/opendatacensus/pull/695
done.

[2015-09-30 14:37] kravets-levko commented on #575
PR https://github.com/okfn/opendatacensus/pull/694

[2015-10-01 12:37] borysyuk commented on #618
https://github.com/okfn/opendatacensus/pull/696

[2015-10-02 14:38] borysyuk commented on #693
done https://github.com/okfn/opendatacensus/pull/697

[2015-10-02 16:53] #681 closed

[2015-10-05 01:22] Stephen-Gates opened #698 "Change log not showing all events"
I accepted a submission for http://global.census.okfn.org/entry/ae/weather but use incorrect Markdown formatting.

I added another submission, corrected the Markdown, and Published. These events are not shown in http://global.census.okfn.org/changes/

The detail of the original submitter is not displayed on

- http://global.census.okfn.org/entry/ae/weather or
- http://global.census.okfn.org/place/

[2015-10-05 05:36] pwalsh commented on #698
Hi @Stephen-Gates

You rejected the original submitter's submission, so of course her/his details would not be displayed on the new submission you made - the details would be your details, or anonymous (depending on how you submitted).

I'll checking the issue with how this is displayed in 'changes' now.

[2015-10-05 05:47] Stephen-Gates commented on #698
G'day @pwalsh (I hope you catch some AFL or NRL Grand Final action over the weekend)

I did not reject the submission but I did :

- Publish/Accept
- Submit
- Publish/Accept

I was expecting to see each transaction in Changes.

Re: Submitter details. I thought it might accumulate past submitters to give credit for past contributions within that year. (Probably more applicable to Local census).

[2015-10-05 05:52] pwalsh commented on #698
@Stephen-Gates ok checking. No, I didn't catch AFL or NFL Grand Final action :).

[2015-10-05 06:45] pwalsh commented on #698
@Stephen-Gates ok, I've investigated. I'm not sure if we should consider these issues "bugs" or "features". I'll let @morchickit or @nealbastek prioritise the action (if any). The scenario is:

1. All data exposed to the user interface has been processed, and we have lists of data like this, for each year:
  * entries: all the current entries
  * submissions: all the pending submissions
  * reject

[2015-10-05 06:48] Stephen-Gates commented on #698
ok thanks for looking in to it @pwalsh

[2015-10-05 07:11] Stephen-Gates opened #699 "Strengthen Survey Flow"
@morchickit as discussed.

In reviewing submissions there a number of time wasting submissions. I suggest the [survey flow](http://census.okfn.org/survey-flow/) be strengthen to require that comments be completed (to a minimum text length) when the answer to **Does the data exist?** is **No** or **Unsure**.

The worst submission I have seen is answering **Yes** to **Does the data exist?** and **Un

[2015-10-05 07:24] pwalsh commented on #693
FIXED.

[2015-10-05 07:24] #693 closed

[2015-10-05 07:27] pwalsh commented on #689
FIXED.

[2015-10-05 07:27] #689 closed

[2015-10-05 07:28] pwalsh commented on #575
FIXED.

[2015-10-05 07:28] #575 closed

[2015-10-05 07:30] Stephen-Gates commented on #689
Awesome - thanks

[2015-10-05 07:47] morchickit commented on #699
This is not relevant for this year's index, but for next year. We will have to review the methodology for it. WONT FIX for now (but will hopefully later)

[2015-10-05 07:52] pwalsh commented on #688
# Tasks

The current logic is here: https://github.com/okfn/opendatacensus/blob/develop/census/controllers/utils.js#L15 and the validator, with a description of how it current works is here https://github.com/okfn/opendatacensus/blob/develop/census/controllers/utils.js#L73. The tests are here https://github.com/okfn/opendatacensus/blob/develop/tests/submissions.js

* "Yes" is `true`
* "No" is `fal

[2015-10-05 08:00] Stephen-Gates commented on #699
OK Thanks.
See also #688

[2015-10-05 12:33] Stephen-Gates opened #700 "Sort Dataset page by Country"
It would be helpful for the review process if you could sort the dataset pages (e.g. http://global.census.okfn.org/dataset/weather/2015) by country name as well as current score.

[2015-10-05 18:50] borysyuk commented on #688
done https://github.com/okfn/opendatacensus/pull/701

[2015-10-07 15:49] morchickit opened #702 "Not able to submit new submission"
Under Ireland Health Performance, this error occurred in the License questions
![screen shot 2015-10-07 at 16 47 35](https://cloud.githubusercontent.com/assets/3273659/10342923/4eb7803a-6d13-11e5-9e54-fd6fc7964685.png)

[2015-10-08 06:39] pwalsh commented on #702
@morchickit it is because machine readable is "Yes", yet format is blank. If machine readable is "Yes", we require a format.

[2015-10-08 08:39] #702 closed

[2015-10-11 14:29] morchickit opened #703 "Can't resubmit data"
http://global.census.okfn.org/submit/?place=tr&dataset=postcodes
![screen shot 2015-10-11 at 15 27 39](https://cloud.githubusercontent.com/assets/3273659/10417249/b6c8c212-702c-11e5-80b6-a437dc0b7ab3.png)

Changed data from exist to not exist.

[2015-10-12 05:19] pwalsh commented on #522
Hi @schlos I'm trying to get to this, but other issues for the Global census take priority. When we start on fixes and enhancements for the local census instances, I'll ask @nealbastek to put this on high priority.

[2015-10-12 06:40] pwalsh commented on #703
@morchickit this is a bad UX issue, but easily worked around (for now):

* change exists to "Yes"
* Clear the url and format fields (they shouldn't have values, but do I guess due to a bug in previous year's code)
* change exists back to "No"
* submit

[2015-10-12 10:06] pwalsh opened #704 "Updates to API"
Notice that I refactored the new API to use our data access layer via `getData`: https://github.com/okfn/opendatacensus/blob/develop/census/controllers/api.js#L169

There are a bunch of options here: the important one being the cascade option.

When cascade is false, then any query for data for a given year will return only records that exactly match on that year.

example: if I queried for 2015 e

[2015-10-12 11:15] morchickit commented on #703
Oh boy... done.

[2015-10-12 11:15] #703 closed

[2015-10-12 22:27] morchickit opened #705 "Change message for reviewers"
Need to change the text message here under the title "Important". @pwalsh - how do I do that?
![screen shot 2015-10-12 at 23 26 25](https://cloud.githubusercontent.com/assets/3273659/10440606/b8edbf40-7138-11e5-80d7-3a9292aa28f1.png)

[2015-10-12 22:28] morchickit opened #706 "Expose extra fields via API"
The message at the reviewer note suggest that the note would be displayed, but I can't see it anywhere on the census or the Index submissions. @pwalsh - where is it displayed?

[2015-10-13 05:35] pwalsh commented on #705
It is hard coded into the template. You could do a PR changing it directly (https://github.com/okfn/opendatacensus/blob/develop/census/views/_snippets/reviewer_actions.html), or, add the text here and we can do it.

[2015-10-13 06:37] pwalsh commented on #706
Review notes are only (have only ever been) displayed on the actual submission page for an entry.

This page exists, but is not really accessible after a review has been accepted.

To see, you can:

* go to a submission
* take note of the URL (e.g.: `/submission/62baff7a-801c-4d55-a419-98bb58d46954`)
* accept the submission and write review notes
* go back to the submission URL
* see the review no

[2015-10-13 11:04] morchickit commented on #705
Done. Thanks.

[2015-10-13 11:04] #705 closed

[2015-10-13 13:36] borysyuk commented on #645
https://github.com/okfn/opendatacensus/pull/708
now our css and js links are like this: <link href="/css/style.css?{{currentTime}}" rel="stylesheet">
currentTime - it is time in unix format when node application has been started.
currentTime will be different after each application restart.

[2015-10-13 14:35] #688 closed

[2015-10-13 14:37] pwalsh commented on #552
@kravets-levko can you take this from here, and use Zombie.js to adapt tests in app.js and loaders.js

[2015-10-13 15:57] #645 closed

[2015-10-14 02:45] pwalsh commented on #522
@kravets-levko can you have a look at this straight after the fixes for the API, but before you look at the tests. We might have to update some of the existing trans scripts (see README), possibly the language widget [here](https://github.com/okfn/opendatacensus/blob/develop/census/views/base.html#L98), and fix the fact that we have both a [`locale`](https://github.com/okfn/opendatacensus/tree/dev

[2015-10-14 10:08] pwalsh commented on #704
FIXED.

[2015-10-14 10:08] #704 closed

[2015-10-15 11:51] pwalsh commented on #706
@morchickit is there any action here? do you want them displayed anywhere else?

[2015-10-15 13:41] pwalsh commented on #522
and...... it's live: http://hr-city.census.okfn.org/

thanks so much for your patience :).

[2015-10-15 13:41] #522 closed

[2015-10-15 14:06] schlos commented on #522
:+1:

Thank you @pwalsh and @kravets-levko
It will be much easier now to involve more people in evaluating cities!

[2015-10-15 17:03] morchickit commented on #706
Ideally, on the Index site, or at least in the raw data to download?

[2015-10-15 19:12] pwalsh commented on #706
@roll (and cc @kravets-levko so he know you'll do this) some fields to add to all entries endpoints for API. You'll need them in the Index site so you can add them now as part of your work on the process.py script.

# Tasks

* [ ] reviewComments
* [ ] reviewed
* [ ] reviewResult
* [ ] isCurrent

The last three are boolean. As we use "Yes" and "No" for true/false in other places that we output such

[2015-10-19 14:56] borysyuk commented on #552
https://github.com/okfn/opendatacensus/pull/718
Get all tests in tests/loaders.js passing using fixtures and Zombie.js - Done

[2015-10-19 15:39] #552 closed

[2015-10-19 15:40] pwalsh commented on #706
DONE.

[2015-10-19 15:40] #706 closed

[2015-10-22 13:30] morchickit opened #722 "Show reviewer's comments on each entry page"
Follow #706 -

Add the reviewer comment to the entry page.

[2015-10-27 07:38] pwalsh commented on #722
DONE.

[2015-10-27 07:38] #722 closed

[2015-10-27 08:19] pwalsh opened #723 "Visual highlight for datasets that will be removed from this year's census"
@morchickit asked for a quick solution to highlight the datasets that will be removed from the index.

I'm adding this to this branch: https://github.com/okfn/opendatacensus/tree/hotfix/dodgy-datasets and deploying from this branch as a temporary measure.

Currently: highlights "health performance"

[2015-11-11 13:30] morchickit opened #725 "Add a link to applications that uses the data that we are asking about"
For example, if someone is using budget data for an application (like open spending), add a link to this application.

[2015-11-12 19:30] morchickit opened #726 "Translate the form to other languages"
As a user, I want to use the index in my own language. For that, I need to have the form in my native language.

@pwalsh - Was it possible in the past?

@nealbastek  @tlacoyodefrijol  - FYI

[2015-11-13 06:09] pwalsh commented on #726
@morchickit it is possible right now, and has been for years.

http://hr-city.census.okfn.org/submit/?place=zg&dataset=budget

http://census.okfn.org/site-admins/#localization

[2015-11-13 06:09] #726 closed

[2015-11-13 14:32] jalbertbowden commented on #668
what version of windows?

[2015-11-13 22:55] tlacoyodefrijol commented on #726
@pwalsh it's not the form but the strings. We translated them in Transifex since last year but apparently the locale isn't working yet. https://www.transifex.com/okfn/open-data-census/viewstrings/#es_MX/messagespo-9/21897544

[2015-11-14 07:31] pwalsh commented on #726
@tlacoyodefrijol it is the same thing. The code supports translations. In order to activate them on a particular site, two things need to happen:

* We add the extra strings to the codebase (I had not been alerted that additional translations are available, but you can see we have two languages in addition to English here: https://github.com/okfn/opendatacensus/tree/develop/census/locale)
* The si

[2015-11-16 01:40] Stephen-Gates commented on #668
Windows 7 Enterprise Service Pack 1.
IE Version 11.0.9600.18059

[2015-11-28 21:53] gmccue opened #727 "Simplify development environment setup."
I was considering lending some help with some of the open issues, but setting up a development environment seems unnecessarily tedious given the existence of tools like [Docker](https://www.docker.com/).
Would it be helpful to provide Docker integration?

[2015-11-29 02:42] pwalsh commented on #727
Hi. I have a dockerfile started. I had build issues with node-gyp and simply did not get back to it. If I add my existing work to a new branch, would you like to continue on it?

[2015-11-29 10:40] gmccue commented on #727
@pwalsh Yeah, that would be great!

[2015-11-30 23:05] #668 closed

[2015-12-03 12:42] diraol commented on #727
+1 ! =)

[2015-12-07 13:50] pwalsh commented on #727
Closing this now as @gmccue has started on it in #731

[2015-12-07 13:50] #727 closed

[2015-12-09 07:27] morchickit opened #732 "Questions do not reload in Spanish"
https://docs.google.com/spreadsheets/d/1nwmk8uJEK-4K6-5SdBgoLUlUos-BhfYRgjS74YkhDGc/edit#gid=3

[2015-12-09 19:04] diraol opened #733 "Upgrading bootstrap and Mobile Responsive"
Hi!
I've upgraded twitter bootstrap version on the project (and some other JS libs), and I'm also improving the responsiveness of the project.
On my fork I've created a new branch for that.
How do you prefer to receive a Pull Request with my modifications? On the development branch or on a new branch? (I think that doing it on a new branch would be better, but I'm open to suggestions).

Cheers!

[2015-12-09 19:07] pwalsh commented on #733
Hi @diraol that is awesome! New code should ideally come in a PR for the develop branch, from a branch named `feature/{name-of-feature}`, more or less following the [Git Flow](http://nvie.com/posts/a-successful-git-branching-model/) conventions.

Thanks!

[2015-12-11 17:01] tlacoyodefrijol opened #734 "Clicking Publish rejects the submission"
Whenever I try to publish a submission it marks it as rejected. Happened with three different datasets in the same city. I'm set up as admin and reviewer.

![screen shot 2015-12-11 at 10 55 50 am](https://cloud.githubusercontent.com/assets/5587545/11749968/65e31c68-9ff6-11e5-856f-a42e27a87045.png)

[2016-01-05 07:20] Stephen-Gates opened #735 "Update Census for 2016"
On [Australia's Regional Open Data Census](http://australia.census.okfn.org)

- Change log is blank
- Previous 2015 submissions that were not assessed have gone
- cannot add new submissions

Others having the [similar issues](https://discuss.okfn.org/t/unable-to-review-2015-submissions/1731).

Suspect this is due to to us now being in 2016 - Happy New Year  ;-)

[2016-01-05 07:28] pwalsh commented on #735
@Stephen-Gates if you have any other specific pointers, it can be great (e.g.: URL to a pending submission that no longer appears).

@morchickit also if you can provide more info. Here is a dump of what you emailed me:

1. Noticed same issue on http://cl-city.census.okfn.org/
2. Noticed same issue on http://sciencepo.census.okfn.org/ and we have a particular URL to help, where this is a pending su

[2016-01-05 07:30] Stephen-Gates commented on #735
@pwalsh I believe I had one outstanding submission on http://australia.census.okfn.org/entry/qld/contracts

[2016-01-05 07:34] pwalsh commented on #735
Thanks @Stephen-Gates  - we are on it :)

[2016-01-05 08:23] Stephen-Gates commented on #735
2016 now appears on the home page and I have [successfully added](http://australia.census.okfn.org/changes/) a 2016 submission that was automatically accepted.

I didn't realise that `approve_first_submission` applied to the start of each year - @pwalsh is that the intended functionality?

[2016-01-05 08:24] pwalsh commented on #735
yes it is intended functionality. If it is not *desirable* as a census owner, please open it as a distinct issue though. 2016 appeared now because I added it, but it is not directly related to the bug in this issue - I just added it when I did some initial investigation.

[2016-01-05 18:03] borysyuk commented on #735
There is no bug because pages :
http://cl-city.census.okfn.org/changes/
http://cl-city.census.okfn.org/
http://cl-city.census.okfn.org/place/iquique and etc
these pages always show `pending submissions` and etc for current year only.

if you want see information about submission for previous years you should use urls:
http://cl-city.census.okfn.org/changes/2015/
http://cl-city.census.okfn.org/year

[2016-01-05 18:16] ponentesincausa commented on #735
@borysyuk I am using those links, in my case http://mx-city.census.okfn.org/changes/2015/ but the review button simply does not appear on the entries. Neither for myself (reviewer) for the admin.

[2016-01-05 18:19] ponentesincausa commented on #735
@borysyuk @Stephen-Gates you know what? I think you are right, these are 2 different issues. We can see 2015 submissions on mx-city, we are just unable to review them due to a lack of Review button.

[2016-01-05 18:24] pwalsh commented on #735
@morchickit

( cc @ponentesincausa @Stephen-Gates  )

When the census was refactored, we made w decision (in consultation with Mor and other from non-technical side) to automate the previously manual task of changing over a census per year.

When it was manual it led to various data bugs when census admins would forget to shift the year as the new year came in, so that would mean records collected

[2016-01-05 18:35] tlacoyodefrijol commented on #735
https://media.giphy.com/media/lNHMPbRz6IhKU/giphy.gif

[2016-01-05 18:36] tlacoyodefrijol commented on #735
![image](https://media.giphy.com/media/lNHMPbRz6IhKU/giphy.gif)

[2016-01-05 19:54] Stephen-Gates commented on #735
@borysyuk @pwalsh Thanks for looking into the issue. I have updated the [FAQ](http://australia.census.okfn.org/faq/#year) on the Australian Census to reflect the behaviour. I think the behaviour should be also documented at http://census.okfn.org/site-admins/ so Site Admins can be aware and add the information to their FAQ or Tutorial page (thoughts?).

One last question, shouldn't 2016 automatica

[2016-01-05 19:59] pwalsh commented on #735
@Stephen-Gates the missing year navigation on the home page was just some pure laziness on my behalf, as the [HTML snippet is manual](https://github.com/okfn/opendatacensus/blob/develop/census/views/_snippets/year_navigation.html#L2), and not auto-generated based on the year and year range. It is a pretty simple fix.

More generally though, Are you ok with this behaviour Stephen or do you think it

[2016-01-05 20:07] Stephen-Gates commented on #735
@pwalsh I'm OK with the behaviour now that I understand it. It's not only a call to action for contributors but also to editors to do their reviews by the end of the year. Luckily I only had one outstanding submission and given I now know how to access it I can arrange re-submission.

Happy to close this issue if others are.

[2016-01-05 21:40] tlacoyodefrijol opened #736 "Can make form actions when texts are localised"
So we're trying to fill the census for 2016 with the same information as the entries in 2015 but every time we submit, the app says "Submission marked as rejected". Is there a reason why this is happening?

[2016-01-05 21:43] pwalsh commented on #736
@tlacoyodefrijol please provide some example URLs for data that is rejected.

[2016-01-05 21:59] tlacoyodefrijol commented on #736
@pwalsh I figured it out. When the locale is set to Spanish. Once you hit publish, for some reason the app doesn't recognise that string and crashes. I set the locale to English and everything is working well now.

[2016-01-05 22:00] #734 closed

[2016-01-05 22:01] pwalsh commented on #736
@morchickit wrote about this somewhere on the forum, but we don't have an issue opened here yet - it is a bug we'd like to fix. Mor, can you open an issue with everything you know about the locale preventing submissions?

[2016-01-05 23:35] morchickit commented on #735
Hi!
Not happy to close this issue. While I understand the logic, it is
problematic for some instances (not all!), which were taking part in the
local Index Sprint that we did.
Paul, is there a way to write a script and push some instances data forward?
Not ideal, but will save a lot of manual work for some instances.
On Jan 5, 2016 8:07 PM, "Stephen Gates" <notifications@github.com> wrote:

[2016-01-06 03:59] Stephen-Gates opened #737 "IE11 Wide screen formatting (again)"
Issue #668 seems to be back. I am using Windows 7 and Internet Explorer 11 and get this weird formatting. Works fine in Chrome.

Note the two "Total Score" headers...
![ie11error](https://cloud.githubusercontent.com/assets/9379524/12134634/e81ef1c6-b47c-11e5-98cd-61e6db7bc215.PNG)

When I reduce the screen width, the headers are fixed but note the OK logo spills over at the top of the page.
![ie11

[2016-01-06 06:46] pwalsh commented on #735
@morchickit I'll talk with you today about it, but I strongly suggest you update the docs and communication with community to make it clear that the census is calendar year based (which while it seems clear because the whole UI is around calendar year, obviously needs to be made much more explicit), so that this info is clear and accessible for census admins and users.

[2016-01-06 06:54] pwalsh commented on #737
@borysyuk can you please have a look at this

[2016-01-06 06:55] pwalsh commented on #732
@morchickit can you please provide more info please, and for example, a particular census instance you are trying this on.

[2016-01-06 06:58] pwalsh commented on #736
I reopened and changed title of issue. This should be a very simple fix. The buttons from submission are all localised, and all use the actual value of the button as the hook for the submission action on the server. [Example](https://github.com/okfn/opendatacensus/blob/develop/census/views/create.html#L87). We need to change it so that the hook for handling forms on the server is a non-localised s

[2016-01-06 07:00] pwalsh commented on #723
This was done as a temporary measure when needed, and then removed (as it is a hack around data that does not belong permanently in the codebase).

[2016-01-06 07:00] #723 closed

[2016-01-06 07:02] pwalsh commented on #700
@borysyuk this should be a very simple additional sort on the views for the dataset pages. If more complicated than that, just let me know here and we'll leave it in backlog.

[2016-01-06 07:07] pwalsh commented on #733
Hi @diraol how is this work going? I'd love to be able to get these changes into the main branch.

[2016-01-06 10:58] morchickit commented on #735
+1 to update the docs. I'll take this on me.

[2016-01-06 11:11] pwalsh opened #738 "Modify data for censuses currently doing sprint that spans a calendar year"
# Description

Some census instances are doing a data collection that spans end of 2015 -> beginning of 2016. The data collection should belong to 2016, and there was misunderstanding as to the nature of the census cycle as it relates to the calendar year. To assist these census admins on this, we'll collect all pending entries from 2015, and change their year (and creation date, if required) to 2

[2016-01-06 11:12] pwalsh commented on #735
I'm closing this issue now as it is not a bug. I'm opening a new issue to modify data for the handful of census instances that are currently doing a data collection that unfortunately spans across a calendar year: https://github.com/okfn/opendatacensus/issues/738

[2016-01-06 11:12] #735 closed

[2016-01-06 13:26] borysyuk commented on #738
SQL:
update entry SET
year = '2016'
where
	entry.site IN ('cl-city', 'mx-city', 'caribbean', 'sciencepo') and
	entry.year = '2015' AND
	entry.reviewed = FALSE

[2016-01-06 15:40] pwalsh commented on #735
See #738

[2016-01-06 15:40] pwalsh commented on #738
DONE.

[2016-01-06 15:40] #738 closed

[2016-01-06 16:15] morchickit commented on #732
@tlacoyodefrijol - I saw that this didn't work in the Mexican instance, right?

[2016-01-06 16:38] borysyuk commented on #737
@pwalsh :
there are 2 problems:
1. header logo doesn't look properly on some sites (like australia) under `body width < 1200px`, so i hide this logo when width less than 1200px
2. two "Total Score" headers... There are some problem with SexyTables. It doesn't refresh table headers when user resizes window

[2016-01-06 17:34] pwalsh commented on #737
@borysyuk ok thanks. I've merged you changes for the header logo anyway.

[2016-01-06 17:35] pwalsh commented on #700
DONE

[2016-01-06 17:35] #700 closed

[2016-01-06 17:35] pwalsh commented on #736
DONE.

[2016-01-06 17:35] #736 closed

[2016-01-08 15:06] borysyuk commented on #737
@pwalsh : the error with "two "Total Score" headers.." has been reprodused on Chrome browser too.
It happens when you open page in small window then resize browser to maximum.

[2016-01-25 20:00] wfdd commented on #735
This would've made more sense if old-ish submissions had been reviewed before the new year.  If your submissions hadn't been reviewed for three months and then they were to simply vanish, you'd be a little disheartened.

[2016-01-26 04:16] pwalsh commented on #735
Hi @wfdd

This issue was closed 3 weeks ago. If you run a local census and this issue effected your entries, or if you have some other problem, can you please open a new issue on the problem.

From your comment, I'm not sure what you are trying to say: if submissions had been *reviewed*, then there would be no issue at all, the only submissions that go missing from the UI as a calendar year change

[2016-01-26 11:07] wfdd commented on #735
Sorry, I should've been clearer; I was referring to global OKFN census.  Take [Cyprus](http://global.census.okfn.org/place/cy): there had been four changes under review - which we'd simply have to verify as correct in the new year - but all four have now been wiped.   I feel contributors should at least be warned of the impending database reset.

[2016-01-26 11:11] pwalsh commented on #735
@wfdd agree contributors should be warned in general, and @morchickit is working on better messaging for that on local censuses. For the Global one, I thought it has always been very clear that it is calendar year based, but we'll make an effort to clarify that too.

[2016-05-01 15:39] rgrp opened #740 "Submission screen shows "no entry" but there is an entry (just not in previous year)"
Example 2016 submission for Bologna Business Listings: http://it-city.census.okfn.org/submission/a9f735ec-5a1a-46e1-9eb1-f98070610f0e

**Current shows "No Entry" everywhere* but here's 2014 and there is data: http://it-city.census.okfn.org/entry/bologna/business-listings/2014

Here's screenshot:

![image](https://cloud.githubusercontent.com/assets/180658/14942649/f6648126-0fba-11e6-842b-53531c4977

[2016-05-01 15:52] rgrp opened #741 "Multiple site admins"
Would be nice to support multiple site admins just like we have multiple site reviewers.

Also suggest we move this from main registry sheet to the site config sheet so site admin can update the list of site admins themselves ...

[2016-05-01 15:56] rgrp opened #742 "Sysadmin documentation - clarify how you reload stuff"
I was trying to update a site admin and got a bit lost trying to work out how i would reload the overall config ...

Instructions say:

But what is `http://{system_subdomain}.{base_domain}/control` for main census.okfn.org? deploy?

[2016-05-01 16:39] sirmmo opened #743 "format: you must not specify this fileld"
The issue #740 brings up additional issues.

[2016-05-01 21:29] pwalsh commented on #740
Hmm, this is a bit tricky based on changes to workflow last year (should entries from previous years be considered the "current entry" for new submission purposes). Not sure it is a bug or a feature. I'd say it is a bug, but we'll check with @morchickit for this year's work.

[2016-05-01 21:30] pwalsh commented on #743
@sirmmo we need more info here.

[2016-05-02 10:57] morchickit commented on #740
This is connected to some issues we got from the US census. I will ask Danny about it and will ask in the forum. I think it's fine to keep it like this...

[2016-05-02 13:08] morchickit commented on #740
and flagging this to @dannylammerhirt

[2016-05-02 13:35] rgrp commented on #740
@morchickit i think this is something of a UX bug. I'd imagine seeing a diff against whatever was the entry - whenever that was. Especially an issue on local censuses where updates happen less often.

I can vouch for this having spent 30m+ trying to work out what was happening and debug this with some local group members.

[2016-05-02 14:00] morchickit commented on #740
We need to work on the whole survey platform anyway since we didn't really touch it for two years. Let's wait until we know what we want to do it before we debug it...

[2016-05-02 14:05] rgrp commented on #740
@morchickit ok - flagging that this *is* an issue right now for people wanting to do local censuses - e.g. OK Italia and OK England this weekend ...

[2016-05-02 14:07] morchickit commented on #740
Cool, but the local census is not prioritise at the moment, so it will have to wait until we will work this for the Global index.

[2016-05-07 13:57] rgrp commented on #740
@pwalsh @morchickit i actually now think is a bug and not just a feature. For example this submission for Nottingham in the UK has 2015 data and a submission from 2016 and yet it is showing "No Entry":

http://gb-city.census.okfn.org/submission/63e62cc4-0077-4f9a-bde2-e2c59bbc8784

@pwalsh any ideas on whether this is actually a bug or if somehow this is intended behaviour.

[2016-05-08 11:28] pwalsh commented on #740
@rgrp i just don't remember what decisions where made on this last year. we are starting to warn up development for the 2016 census in the coming month, and we'll look at it then.

[2016-06-08 10:54] morchickit opened #745 "Methodology to the local index should be stated somewhere on the instance"
Currently, all local index are using the global methodology, but don't link to it. We need somehow to link it.

[2016-06-09 09:57] Stephen-Gates commented on #745
Feel free to use this http://australia.census.okfn.org/faq/

[2016-07-10 09:49] brew opened #746 "Admin 'reload' actions should be post requests"
Currently the request method for the four 'Reload' actions for a site at `/admin` are GET requests. These make changes to the database, so should be POST.

[2016-07-11 13:48] brew opened #747 "Update Travis and Coveralls support"
The version of node being used by travis is older than the version defined in `package.json` and it looks like Coveralls isn't working at the moment.

[2016-07-11 16:44] #747 closed

[2016-07-13 11:47] brew commented on #742
@rgrp Can you point me to the instructions this refers to? I can't find the part you quoted.

[2016-07-13 11:51] pwalsh commented on #742
@brew step-by-step section on http://census.okfn.org/sys-admins/

[2016-07-14 06:40] pwalsh commented on #655
closing.

[2016-07-14 06:40] #655 closed

[2016-07-14 06:45] pwalsh commented on #564
The work this year will mean that the "Index" codebase can be used by all instances of the census.

This is captured in these user stories:

- https://trello.com/c/3tQEO31y
- https://trello.com/c/PM7LjKm6

The specific details of how comparison from "old" methodologies to the new one(s) going forward is not define yet, and likely not to happen. Discussion for that belongs here: https://discuss.okf

[2016-07-14 06:45] #564 closed

[2016-07-14 06:52] pwalsh commented on #403
We are doing an overhaul of the design of these pages ( https://trello.com/c/uboCfkD3 ). I'm adding this for consideration, but closing this issue as it will be addressed through a new set of issues around the design of the census.

[2016-07-14 06:52] #403 closed

[2016-07-14 06:54] pwalsh commented on #618
The two tasks left become irrelevant as we are redoing the submission/review form.

[2016-07-14 06:54] #618 closed

[2016-07-14 07:02] pwalsh commented on #740
I've checked the examples (Bologna and Nottingham), read all the comments, and checked various supporting pages on the census for these datasets.

All the read-only interfaces show correct info as far as I can see.

The issue is, as Rufus points out, when making a submission in a *new* year, and the latest entry is from a  *previous* year, the submission/review form does not pick up that *previous

[2016-07-14 07:03] pwalsh commented on #743
Without more info, I'm closing.

[2016-07-14 07:03] #743 closed

[2016-07-14 07:04] pwalsh commented on #741
good idea.

[2016-07-14 07:08] pwalsh commented on #742
@brew I'm assigning this for current sprint.

[2016-07-14 07:08] pwalsh commented on #737
Closing as we will be implementing an updated design.

[2016-07-14 07:08] #737 closed

[2016-07-14 07:09] pwalsh commented on #733
I'm closing this as we'll be refactoring the design and base on bootstrap 3 (or BS4)

[2016-07-14 07:09] #733 closed

[2016-07-14 07:09] pwalsh commented on #732
@morchickit with no steps to reproduce, I'm closing this.

[2016-07-14 07:09] #732 closed

[2016-07-14 07:11] pwalsh commented on #725
good. added a user story for considering in redesigning dataset pages https://trello.com/c/tZMTTazz

[2016-07-14 07:12] pwalsh commented on #699
Addressed by new methodology https://discuss.okfn.org/t/introducing-the-new-proposed-global-open-data-index-survey/3104

[2016-07-14 07:12] #699 closed

[2016-07-14 07:13] pwalsh commented on #687
wontfix in current codebase, but work this year will implement a new design.

[2016-07-14 07:13] #687 closed

[2016-07-14 07:15] pwalsh commented on #671
@brew i had the exact same request last week via email. This is pretty easy (just get the support link from the site settings sheet), and a nice small task to tackle and fix for the current codebase.

[2016-07-14 07:15] pwalsh commented on #667
@morchickit was this fixed?

[2016-07-14 07:17] pwalsh commented on #665
As I never heard more on this, I'm closing as WONTFIX.

[2016-07-14 07:17] #665 closed

[2016-07-14 07:19] pwalsh commented on #661
closing and waiting for clarification in user stories board https://trello.com/c/YSClpCai

[2016-07-14 07:19] #661 closed

[2016-07-14 07:21] pwalsh commented on #664
closing as the current ui will be replaced by something based on the Index UI ( http://index.okfn.org/dataset/statistics/ ) which has a different solution for this.

[2016-07-14 07:21] #664 closed

[2016-07-14 07:22] pwalsh commented on #639
looks like this was addressed in the above commit from sam

[2016-07-14 07:22] #639 closed

[2016-07-14 07:24] pwalsh commented on #625
@brew assigning this as I think it can help you get into relevant parts of system

[2016-07-14 07:26] pwalsh commented on #659
will be addressed in updated design. will be covered in new issues/tasks for that.

[2016-07-14 07:26] #659 closed

[2016-07-14 07:52] morchickit commented on #667
Yes, you can close.

On 14 Jul 2016 8:15 a.m., "Paul Walsh" <notifications@github.com> wrote:

[2016-07-14 07:55] #667 closed

[2016-07-14 09:29] pwalsh opened #752 "Requirements/Spec for survey strategies"
# Description

The current survey is a set of fixed questions with fixes scores. Some questions are scored, others are not. Attached to the question set is a comment box, and further, a comment thread on disqus. The score are calculated by multiplying the score x datasets - there is no normalisation of scores, and this became evident last year when new datasets were added.

Several people and orga

[2016-07-14 09:30] pwalsh opened #753 "Implement a survey strategy using the new methodology"
(Description and Tasks edited by @brew 2016-08-17)
# Description

The broad scope of this ticket is to implement changes to the census entry process (survey), enabling questions, and dependencies between questions, to be displayed dynamically from data inputed by site admins into the current CMS (Google Spreadsheets).

The biggest conceptual change is that `Questions` will be associated with `Data

[2016-07-14 09:30] pwalsh opened #754 "Allow datasets to be published/unpublished, per year"
# Description

Last year, we experimented with adding new datasets to the census. We collected data, and then, we decided that these dataset submissions were not of high enough quality, and it was decided to not show them as part of the Index.

This created a whole range of problems, being a use case that the code was never designed for. These problems include incorrect metrics on the census site,

[2016-07-14 09:31] pwalsh opened #755 "Allow datasets to have a list of characteristics"
# Description

In order to help improve the quality of submissions for datasets, we want a list of dataset characteristics to help the submitter and reviewer ensure "apples are apples". Some work was [done in this direction last year](https://github.com/okfn/opendatacensus/search?q=characteristics&type=Code&utf8=✓), and then removed.

## User stories

- https://trello.com/c/zAORqsKL

# Tasks

- [x

[2016-07-14 10:51] brew commented on #625
Are we talking about here? https://github.com/okfn/opendatacensus/blob/b92eb50b68aa8538725591006c2cdef18af759e2/census/controllers/utils.js#L144

[2016-07-14 11:07] pwalsh commented on #625
@brew looks like it.

[2016-07-14 11:14] pwalsh opened #756 "UI/X for survey questions based on new methodology"
# Description

The UX of the form for submitting and reviewing the data has been a sore point in the last few years. Given the [new methodology](https://discuss.okfn.org/t/introducing-the-new-proposed-global-open-data-index-survey/3104), and the [new approach](https://github.com/okfn/opendatacensus/issues/752) we'll take to implementing questions, we are simply rebuilding the survey form from grou

[2016-07-14 11:33] pwalsh opened #757 "Consolidating design across Index and Census"
# Description

*This is a meta issue which will be broken down into distinct issues based on decisions between @smth @brew and @pwalsh*

We want to bring the [Census](http://global.census.okfn.org) and [Index](http://index.okfn.org) designs closer together. In fact, we want to generate the Index from the Census codebase ([ref.](https://trello.com/c/PM7LjKm6), [ref.](https://trello.com/c/3tQEO31y))

[2016-07-14 11:48] pwalsh opened #758 "Move docs to dedicated repo"
# Description

Same pattern as OS and OT

# Tasks

[2016-07-14 14:03] dannylammerhirt opened #759 "New weighting"
DESCRIPTION

This year's edition of GODI will introduce a new weighting (=score that each question adds to the total score of a dataset) for our questions. The weighting will have to take into account 1) new questions we inserted into the survey; 2) that we want to give some of our old questions more emphasis as well as 3) de-emphasize some other questions that had a too high score (such as the op

[2016-07-19 14:09] #625 closed

[2016-07-20 11:53] #671 closed

[2016-07-21 08:47] brew commented on #758
Updating documentation should be part of the process of making changes to an applications source code.

tl;dr: I propose hosting the docs within the application source code repository, in a `docs` subdirectory, and build using ReadTheDocs with corresponding versioning based on repository tags.

---

The Open Data Census documentation is currently a Jekyll based-project hosted using github Pages. T

[2016-07-21 09:02] pwalsh commented on #758
I'm neutral. I think subjectively that separation is better, but totally happy for your choice.

[2016-07-21 14:32] brew commented on #758
Fixed in #763

[2016-07-21 14:32] #758 closed

[2016-07-21 15:56] #742 closed

[2016-07-22 12:41] brew opened #765 "Fix broken TOC in docs/site-admin"
TOC element not rendering. Needs the extension enabling and correct syntax.

http://census.okfn.org/en/latest/site-admins/

[2016-07-25 14:35] #740 closed

[2016-07-25 15:33] brew commented on #740
This issue is now fixed on staging (e.g. http://gb-city.next-census.okfn.org/submit/?place=nottingham&dataset=elections)

[2016-07-28 07:47] brew opened #767 "Update dependencies"
A general update to dependencies in package.json. E.g. quite a lot of changes from lodash 3.x -> 4.x: https://github.com/lodash/lodash/wiki/Deprecations

[2016-07-28 10:19] KateRogers opened #768 "Dataset Characteristic Research Partnership Planning (External)"
DESCRIPTION
Prepare and organise meetings with the topical dataset external partners to conduct dataset research. There are different budgets, deliverables and objectives for each dataset category determined by the type of partner organisation, challenge that the data category has proven to define in the past and the strategic priority of the category

TASKS
- [ ] Elections Data with National Demo

[2016-07-28 10:45] KateRogers opened #769 "Scoping/Planning Internal Data Category Research"
DESCRIPTION
For data categories that are, in 2016, a lower priority or we have significant internal expertise, we will be conducting research in-house to better define the data categories and the relevant characteristics, to investigate use cases for the data categories, and map relevant stakeholders. We will publish this research when we launch the survey in October 2016 to help contributors unde

[2016-07-28 12:04] #756 closed

[2016-07-28 12:51] smth commented on #757
Some notes on approach, and work so far:
- Used the new [survey form](http://okfnlabs.org/census-mockup/form/) as a starting point:
https://github.com/okfn/census-mockup

- Added CSS and JS from the Index code (file structure slightly different, not fully tested)
- Created a static version of a dataset page from the Index
- Started adding elements from the Census dataset page
- Index/Census specif

[2016-07-28 16:11] #754 closed

[2016-07-29 08:20] brew commented on #755
@pwalsh: Instead of a number of `Characteristics:n` columns, how about a single column that can take a markdown snippet? We would suggest the admin should populate with a short markdown list. It would be simple, and flexible. Any downsides to that, over multiple columns?

[2016-07-29 09:00] pwalsh commented on #755
@brew yes: we need it structured, to generate text boxes and so forth. essentially, we need it to get in the database as an array.

[2016-07-31 14:51] brew opened #771 "Sanitise inputs when loading data from google spreadsheets"
A basic precaution to sanitise inputs when loading data from google spreadsheet resources, using the [xss](https://www.npmjs.com/package/xss) library. This will allow HTML, but prevent things like script tags.

[2016-08-01 08:57] #755 closed

[2016-08-02 11:03] Stephen-Gates opened #773 "Unable to update entry due to incorrect validation"
I'm trying to update http://australia.census.okfn.org/submit/?place=nsw&dataset=timetables
but get
<img width="478" alt="screenshot 2016-08-02 20 49 12" src="https://cloud.githubusercontent.com/assets/9379524/17326167/d8cefb92-58f2-11e6-8059-9e5eafeb6acd.png">

I believe the changes I'm making to the values should not be errors.

[2016-08-02 11:06] pwalsh commented on #773
@brew pls take a look

[2016-08-02 15:06] brew commented on #773
It's not very clear in the current entry form, but some questions, if false, require other questions to also be answered false. e.g. If 'Publicly available' is answered 'No', then 'Free', 'Online', 'Open Licence' and 'Bulk' should also be 'No'. [1]

@Stephen-Gates Do you think this is what's happening with your submission?

[1] This is hard-coded in a validator: https://github.com/okfn/opendatacen

[2016-08-02 19:11] Stephen-Gates commented on #773
@brew I think that's what's happening but I also think the validation is wrong. The dataset is not publicly available, you have to register. Once you've registered, it is free, online, available in bulk and openly licenced.

[2016-08-03 14:52] KateRogers commented on #773
@Stephen-Gates agreed, this is something that we are changing this year. There will be a subquestion, if no, where users can specify the restriction to access (for example, registration) and then can continue on with the survey.

[2016-08-03 21:14] tlacoyodefrijol opened #774 "Counting transit data twice"
@brew Hi, we got this from the US Census people.

[2016-08-04 12:37] brew commented on #774
This is a subtle error when calculating scores for a place from its entries. For some entries the dataset property is 'transit' and others 'transit ' (note the space). It is likely that 'transit ' with-a-space was originally used in the datasets spreadsheet and hence used as the id for entries created for a short period in 2014. This was subsequently corrected to 'transit' without-a-space, and ent

[2016-08-04 14:26] tlacoyodefrijol commented on #774
![Thanks!](https://media.giphy.com/media/3oEdva9BUHPIs2SkGk/giphy.gif)

[2016-08-04 16:38] brew commented on #774
@tlacoyodefrijol This has been fixed on the staging server. All entries with 'transit ' with-a-space have had the space removed. This has changed some of the place scores and rank for a few cities. Can you have the us-city folks look over it to see if the changes are what they expect. http://us-city.next-census.okfn.org/

[2016-08-04 16:59] brew commented on #774
There are problems with trailing spaces in other areas too, which may not have an impact on scoring, but I'll try to cover with the import fix and a corresponding db data migration.

- [ ] place.id
- [ ] entry.place
- [ ] entry.dataset
- [ ] dataset.id (no issues here, but import should cover possibility)

[2016-08-04 22:37] tlacoyodefrijol commented on #774
@brew that's exactly it!

[2016-08-05 08:19] brew commented on #774
@pwalsh Can you think of a reason not to trim whitespace from all inputs in the loader here: https://github.com/okfn/opendatacensus/blob/28fe2e5b949a23043e3ce5849abd96fdd27f130e/census/loaders/utils.js#L59 ?

[2016-08-05 09:53] pwalsh commented on #774
Can't think of a reason not to

[2016-08-05 11:44] brew commented on #774
@tlacoyodefrijol

tl;dr I've run a script to remove trailing spaces from a couple of fields. Please check the following sites on staging to ensure they appear as expected. If you're happy, I'll update the production server.

http://us-city.next-census.okfn.org/
http://ar-city.next-census.okfn.org/
http://ie-city.next-census.okfn.org/
http://se-city.next-census.okfn.org/

longer version:

Staging (

[2016-08-08 09:25] brew commented on #752
# Datasets, QuestionSets, and Questions

## Some statements

- `Questions` are collected together in `QuestionSets`.

- `Datasets` have an associated `QuestionSet`.

- `QuestionSets` have a `QuestionSetSchema` object (json) to map positions, relationships, and dependent states between `Questions`.

- A `User` creates an `Entry` to answer `Questions` about a `Dataset`.

- As an `Entry` is completed

[2016-08-08 10:49] pwalsh commented on #752
@brew at a glance, looks great. We def. want to use [JSON Schema](http://json-schema.org) IMHO. JSON Schema v4 (current) does not have `if`, but the v5 proposal has `switch`: https://github.com/json-schema/json-schema/wiki/switch-(v5-proposal)

[2016-08-09 15:19] brew commented on #774
This is now fixed on the production site.

[2016-08-09 15:19] #774 closed

[2016-08-18 07:54] smth commented on #757
## Pages

### Home
- http://okfnlabs.org/index-mockup/
- http://okfnlabs.org/census-mockup/

### Dataset overview
- http://okfnlabs.org/index-mockup/dataset/
- http://okfnlabs.org/census-mockup/dataset/

### Place overview
- See dataset overview

### Entry
- http://okfnlabs.org/index-mockup/entry/
- http://okfnlabs.org/census-mockup/entry/

### Generic
- http://okfnlabs.org/index-mockup/generic/
-

[2016-08-18 09:27] smth commented on #756
http://okfnlabs.org/census-mockup/form/

[2016-09-06 09:00] brew opened #778 "Improve feedback when loading data from CMS"
Currently, the various admin actions for loading data from the CMS return a JSON snippet in the body of the response.

<img width="537" alt="screen shot 2016-09-06 at 09 55 19" src="https://cloud.githubusercontent.com/assets/3993/18267654/0dbc18f4-7418-11e6-8a15-2835a5528660.png">

Often, if there is a problem with the input data that causes an error, the error message isn't detailed enough to hel

[2016-09-20 12:56] #767 closed

[2016-09-20 15:13] brew opened #781 "Remove underscore dependency"
We mostly use lodash as helper library, but there are a couple of places where understorejs is used instead. These have been removed and understore removed from package.json.

[2016-09-23 10:02] brew opened #784 "Entry form submission and review for new methodology"
Using the form created as a result of #753, create a new `Entry` instance from the data submitted. Entries can be reviewed by an authorised reviewer.

Submission:
- [ ] Validation (moved to #829)
- [x] Pre-populate form fields with answers, if available (#814)
  - [x] Yes/No
  - [x] Text
  - [x] Likert
  - [x] Multichoice
  - [x] Source
  - [x] Comment box
  - [x] About You
  - [x] Anonymous
  - [

[2016-09-23 10:15] brew opened #785 "Markup design changes for survey"
Markup the remaining pages for the design changes implemented in #757.
### Useful resources
- Census codebase (this one!): https://github.com/okfn/opendatacensus
- Census site: http://global.census.okfn.org
- Index codebase: https://github.com/okfn/opendataindex
- Index site: http://index.okfn.org
- New Census mockups repo: https://github.com/okfn/census-mockup
- New Census mockups site: http://ok

[2016-09-23 12:57] brew opened #786 "Implement scoring calculations"
Much of the score logic is already in place on the respective models. The currently logic returns the score for a Place instance by retrieving all current entries for the place and summing the `yCount` (yes/no questions answering 'yes) for a group of questions for each entry. Currently each scorable question contributes the same weight.

This will need to change for the new methodology to allow mo

[2016-09-27 10:42] brew opened #788 "Question Translations"
Translations are used by local sites to provide one (or more) language options to the web front-end.

The previous approach to question translations was to add a mechanism in the CMS to add individual field translations. These would then be pulled into the database and formatted as a structured json blob in a `question.translations` field.

Now that each site can have its own QuestionSet, my sugge

[2016-09-28 14:06] brew opened #789 "Add dataset description and characteristics to entry form"
It's useful for submitters to have the dataset description and characteristics available on the entry page. It's available on the old design, but needs to be added to the new mockups: http://okfnlabs.org/census-mockup/form/

[2016-09-28 14:15] brew opened #790 "Multi-choice widget should accommodate longer options"
The multichoice widget used to select dataset characteristics should be able to accommodate short phrases without breaking the layout, e.g.

* Scale of 1:250,000 (1 cm = 2.5km)
* Markings of national roads
* National borders
* Marking of streams, rivers, lakes, mountains
* Updated at least once a year

[2016-09-28 14:28] brew opened #791 "Entry Review design for entry form"
The entry review tools are part of the entry form. They show some guidelines for review, the current value for each question, and provide tools for approving the entry with a reviewers comment. This functionality needs to be added to the new entry form design.

[2016-09-28 14:30] brew opened #792 "Current answers for each question in entry form"
If there is an existing current entry, the entry form should show the current values for each question in the entry form.

[2016-09-28 14:39] brew opened #793 "Add Dataset/Place dropdowns to top of entry form"
As previously discussed with @smth.

Each entry form captures data about a particular place/dataset combo. These act as the title for the entry form, providing context. I want these values to be editable, but not too editable (because they reload the page). They are currently dropdowns at the top form page:

<img width="880" alt="datasetplace" src="https://cloud.githubusercontent.com/assets/3993/1

[2016-10-10 14:20] smth commented on #792
Do old and new answer both need to be visible, or can the existing answer essentially look like a regular one, that has just been entered?

[2016-10-10 14:58] brew commented on #786
Related is the concept that answers for a QuestionSet will determine whether a Dataset entry is 'open'. A sub-set of questions have to 'pass' for the dataset entry to be considered 'open'. This can be added as a flag in the `question.config` object:

[code]

[2016-10-11 09:27] morchickit commented on #769
@KateRogers are any of these done? What is the timeline for internal research (last checkbox) so I can plan @dannylammerhirt time for the month?

[2016-10-11 09:28] morchickit commented on #759
@KateRogers can we close this? Anything to add here?

[2016-10-11 09:59] KateRogers commented on #769
I am catching up with Danny (I planned a call for tomorrow, which was moved because you want to join for Thursday), I can let you know then @morchickit

[2016-10-11 14:46] tlacoyodefrijol opened #798 "Community wrangler contracts"

[2016-10-11 14:55] tlacoyodefrijol opened #799 "Thematic Review Guide"

[2016-10-11 15:22] tlacoyodefrijol opened #800 "Submission opening blogpost"

[2016-10-11 15:44] tlacoyodefrijol opened #801 "Q&A for participants"

[2016-10-11 15:45] tlacoyodefrijol opened #802 "Status report for submissions"

[2016-10-11 17:27] smth commented on #793
As these reload the page, is there any reason they couldn't be anchor links, rather than selects?

[2016-10-12 07:37] brew commented on #793
Actually, only the Dataset dropdown needs to reload the page. These two select fields don't actually contribute their data values to the main form on the page. The form below instead gets place and dataset values with additional hidden fields, prepopulated when the page loads. So, it would be possible these selects to be some other sort of non-form widget. How would it work with anchors?

[2016-10-12 07:42] brew commented on #792
The old and new answers need to be visible. This allows reviewers to see the current accepted value, and the value being proposed in the submission under review.

[2016-10-12 07:46] smth commented on #793
Thanks @brew Anchors were just as an example really, of an element that is not a `select`. `select`s being difficult to style. It seems to me that a drop-down much as you'd commonly see in site navigation would work equally well. My thinking here was basically that it would be crazy to use JS to replace the `selects` with other markup, if we could just use the other markup to begin with.

[2016-10-12 07:52] smth commented on #792
OK, got it. So my next question would be, does this review need to take place within this entry form? Why not have a new page showing some kind of diff view, where you can accept / reject answers?

[2016-10-12 07:58] brew commented on #792
I _think_ the previous version allowed reviewers to edit the submission before accepting. So, they'd need the answers to be in a form. It's convenient to reuse the existing entry form for this. Also, submitters themselves also see the current value in the current version as a guide for their submission.

[2016-10-12 11:59] smth commented on #793
So something like this @brew http://okfnlabs.org/census-mockup/form/

[2016-10-12 14:00] brew commented on #793
I like that a lot. Would each item in the list be a link?

[2016-10-17 11:01] smth commented on #793
Yeah, I think that makes the most sense.

[2016-10-17 13:54] pwalsh opened #805 "Finalise questions"
!

[2016-10-17 13:55] pwalsh opened #806 "Ship dataset definitions and characteristics for the website"
!

[2016-10-17 13:55] pwalsh opened #807 "Write FAQ"

[2016-10-17 13:56] pwalsh opened #808 "Write Methodology"

[2016-10-17 14:02] tlacoyodefrijol opened #809 "Abrelatam event"

[2016-10-17 15:09] pwalsh commented on #757
this was DONE. specific tasks are covered in specific.

[2016-10-17 15:09] #757 closed

[2016-10-17 15:20] brew opened #810 "Sort multiple choice component options"
The options may be passed the React multiple choice component in any order. Allow the widget to sort the options alphabetically, and allow the sorting to be turned on/off in the question config.

[2016-10-17 15:28] dannylammerhirt commented on #808
For the GODI website (http://index.okfn.org) we will again provide a methodology section (http://index.okfn.org/methodology/). This section needs to clarify changes we made compared to last year's edition, and explain our rationale to do so. It has to contain following elements:
- [ ] research question
- [ ] research assumptions
- [ ] explanation of our dataset definitions
- [ ] explanation of dat

[2016-10-17 15:40] dannylammerhirt opened #811 "Update About page for index.okfn.org"
DESCRIPTION
The About-Page describes in a concise form the purpose of the Global Open Data Index.
The working document is available at: https://docs.google.com/document/d/1HSlj90wn4GukB3URJf3pOpqX_hw_ho_6x5sB8TKqXXQ/edit#heading=h.n7wsrs1ozxdr

TASKS
For the edition in 2016 we need to update
- [ ] changes of the places we cover
- [x] changes of the datasets and why we changed them
- [x] changes of

[2016-10-17 15:43] dannylammerhirt commented on #806
The dataset definitions and characteristics will directly be integrated in this file: https://docs.google.com/spreadsheets/d/1aBBx8h9j8YW6nDaCoh8R0wWX-YCkqRZ8G0vgyPnGzwI/edit?pli=1#gid=235252093

[2016-10-17 16:02] dannylammerhirt commented on #799
@tlacoyodefrijol Just to double-check: How will your guides differ from this page http://global.census.okfn.org/tutorial/

[2016-10-18 10:14] smth commented on #792
This is perhaps a discussion for the future. In the mean time I will create a space for existing answers.

Are we able to highlight (add a class to) specific questions that have changed / need reviewing?

[2016-10-18 12:06] brew opened #812 "Error styling for the Entry form"
The new Entry form design needs error state for both the entire form, and for each specific field. The error field should be highlighted in someway and room for an error message detailing the problem.

[2016-10-18 12:25] smth commented on #812
@brew I'd like to think (optimistically) that it was impossible to fill in the form incorrectly.
If we say that required fields are handled by not presenting a question until the previous one is filled. What potential error messages do we have for specific fields? I guess we need to check that URLs start with "http"?

[2016-10-19 07:59] dannylammerhirt commented on #805
The final set of questions will directly be directly integrated by Danny in this spreadsheet from which @brew will pull the information: https://docs.google.com/spreadsheets/d/1aBBx8h9j8YW6nDaCoh8R0wWX-YCkqRZ8G0vgyPnGzwI/edit?pli=1#gid=235252093

If @KateRogers wishes to do changes these should be done directly in abovementioned sheet.

To dos:

- [ ] final check of formulations that may be misund

[2016-10-19 08:09] dannylammerhirt commented on #807
The FAQ page displays generally asked questions about the Index. The new FAQ text can be found here: https://docs.google.com/document/d/1BSDqhO9aJReAVDa_92e1KOgF35XRojk1_xAearx5_ag/edit#heading=h.u01hp8ww5j1e

To dos:

- [ ] Danny to check if there is info to add to the current page
- [ ] Danny to update any old content (references to 2015 edition, etc.)
- [ ] @KateRogers to sign-off

[2016-10-19 08:35] dannylammerhirt opened #813 "Synchonizing content for Tutorials (both for submitter and reviewer) and Methodology"
The GODI survey will provide additional information to clarify our methodology and to guide submitters (researcher guidance). Since the researcher guidance is informed by the methodology Danny and @tlacoyodefrijol have to synch their work.

To dos:
- [x] clarify which guidance @tlacoyodefrijol will provide for submitters and reviewers in the video tutorials
- [x] discuss if Danny needs to provide

[2016-10-19 09:08] smth commented on #792
Done http://okfnlabs.org/census-mockup/form/

[2016-10-19 09:13] smth commented on #789
Are "description" and "characteristics" two separate things? If so, what are "characteristics" here?

[2016-10-19 09:31] brew commented on #792
@smth Don't close the issue please. I still need to implement it!

[2016-10-19 09:33] brew commented on #789
Yes. The description is a paragraph or two of copy, and characteristics are a list of short phrases. Thanks for reminding me, we already have characteristics listed as options for a multiple choice question, so we only need the description now (which I think you've already accommodated).

[2016-10-19 10:31] dannylammerhirt commented on #769
Research on datasets is finished and documented in this folder: https://drive.google.com/drive/folders/0B5j55T4ZyssBY0tKYUhFRUZQbzg.

[2016-10-19 10:31] #769 closed

[2016-10-19 10:35] dannylammerhirt commented on #759
Weighting finished and accessible at: https://docs.google.com/document/d/1jwK_UmWMkj1xz7LFhsttQQW34jJb1atr9AuJ_-vHk5M/edit

[2016-10-19 10:35] #759 closed

[2016-10-19 10:39] dannylammerhirt commented on #768
@KateRogers can we close this?

[2016-10-19 15:09] smth commented on #791
I think this is all in now http://okfnlabs.org/census-mockup/form/

[2016-10-19 15:31] dannylammerhirt commented on #813
Clarified that we are gonna put detailed tips and tricks into a written FAQ section. These tips shall include info on how to find and assess different datasets

To do
- [ ] Danny to insert tips and tricks into FAQ page

[2016-10-20 09:46] brew commented on #791
@smth Would it be possible to have the Review/Submission instructions box outside of the `section > div.container` block that contains the main questions? These are controlled by React and I'd have to pass the instruction text into it from outside, which is a bit of pain.

[2016-10-20 09:48] brew commented on #791
The review/submission instructions aren't hardcoded into the templates, they are rendered by nunjucks from template variables.

[2016-10-24 09:48] dannylammerhirt opened #816 "Finalization and documentation of country list (for Index places)"
The new edition of GODI has to review the places we want to assess. Places should be similar with the current ODB country list. A comparative list of countries can be found here (see sheet "Countries"): https://docs.google.com/spreadsheets/d/1SNkyRJegWrqi7Z83UyzvF36NaHJLgTQG2C_gEbNle9M/edit#gid=1350212251

- [ ] @KateRogers to verify if we have a final country list for @brew

[2016-10-24 11:01] smth commented on #812
I've added an error message to one of the source fields [here](http://okfnlabs.org/census-mockup/form/). Let me know if we need anything else.

[2016-10-24 11:45] morchickit commented on #807
Danny's task for this on the research board - https://trello.com/c/8yF44xvq/151-write-up-text-skeletons-for-all-current-texts

[2016-10-24 11:45] morchickit commented on #808
Danny's tasks on the research board - https://trello.com/c/8yF44xvq/151-write-up-text-skeletons-for-all-current-texts

[2016-10-24 11:48] dannylammerhirt commented on #807
@KateRogers I can only provide tips and tricks for the datasets I looked at (4 in total)

Who is write up tips for the remaining datasets? @morchickit or @tlacoyodefrijol ?

[2016-10-24 12:01] dannylammerhirt commented on #816
@brew do you need a list iwth all countries that are gonna go into the places dropdown menu? @morchickit can give you the list

[2016-10-24 12:04] dannylammerhirt commented on #816
@KateRogers How can we capture the countries evaluated by ODB? Do we have submitters/reviewers to cover all countries by ODB?

[2016-10-24 13:27] brew commented on #816
@dannylammerhirt Places must be entered into the 'Places' tab of the spreadsheet: https://docs.google.com/spreadsheets/d/1aBBx8h9j8YW6nDaCoh8R0wWX-YCkqRZ8G0vgyPnGzwI/edit?pli=1#gid=1

[2016-10-24 14:56] smth commented on #791
Done. It's now in the same place as the other alert.

[2016-10-24 15:27] smth commented on #790
@brew now by default these answers appear in a single column, which will avoid any issues created by long answers. The two column can be reintroduced by adding the `short` class [here](https://github.com/okfn/census-mockup/blob/master/templates/form.html#L643).

The nicest way of determining which layout is used would probably be to say that if the longest answer contains less than X characters, t

[2016-10-24 16:34] smth commented on #793
For consistency, I've added some JS to make this work on click. I think this is now done.

[2016-10-24 19:51] dannylammerhirt opened #817 "Design criteria for when we accept submissions"
Like in the past edition of GODI, we are expecting submitters to answer the questions with reference to datasets that meet our minimum criteria. These minimum criteria have been part of the dataset description texts in 2015, but will now be contained in our characteristics question. Reviewers will look at submissions and will have to decide whether we accept a submission. For example, we won't acc

[2016-10-25 14:30] #789 closed

[2016-10-25 14:30] #793 closed

[2016-10-25 15:18] #790 closed

[2016-10-25 15:18] #810 closed

[2016-10-26 08:00] brew commented on #791
- [x] No permission ribbon
- [ ] Pending status box
- [x] Review instructions
- [ ] Review comment box

[2016-10-26 15:31] brew commented on #791
Closed by #820.

[2016-10-26 15:31] #791 closed

[2016-10-28 14:06] #786 closed

[2016-10-28 14:07] brew commented on #752
Happy for me to close this @pwalsh ?

[2016-10-28 14:09] brew commented on #753
This is now complete (except for the translations work which now has its own issue). Happy for me to close this @pwalsh?

[2016-10-28 14:41] brew opened #825 "Highlight difference between proposed answer and current entry answer"
This is useful for the review form. This has been designed in the mockup as part of #792.

<img width="924" alt="screen shot 2016-10-28 at 15 40 08" src="https://cloud.githubusercontent.com/assets/3993/19810362/0fb9ea2e-9d25-11e6-9bb7-73f396e8b0e1.png">

[2016-10-31 08:34] #792 closed

[2016-10-31 14:28] brew commented on #812
We also need to be able to display form-wide errors at the top of the form. These may be a short heading followed by a list of one or more errors. Currently, if it uses the 'warning' styles it looks like this:

<img width="1178" alt="screen shot 2016-10-31 at 14 26 15" src="https://cloud.githubusercontent.com/assets/3993/19857602/283b6606-9f76-11e6-98ee-8db8b7d37f8d.png">

Are you able to look at

[2016-10-31 14:56] brew commented on #812
We also need general 'flash' messages. These can appear on any page. They currently look like this:

<img width="1285" alt="screen shot 2016-10-31 at 14 54 56" src="https://cloud.githubusercontent.com/assets/3993/19858642/23e343fe-9f7a-11e6-96a1-5712c917f1fa.png">

[2016-10-31 15:19] smth commented on #812
If they are errors you should probably replace `alert-warning` with `alert-danger` (these are default Bootstrap classes). I have added some styles to make the links and lists look a bit nicer.

[2016-11-02 10:17] brew commented on #785
@smth The previous census design included a button style for adding an entry for a place/dataset where none exists, and for going to a pending submission for a dataset/place where none exists (you can see the previous version here: http://global.census.okfn.org/). These are missing from the new version, although the markup is similar (you can see the most recent version here: http://global-test.ne

[2016-11-02 10:20] brew commented on #785
@smth Also, as seen in the graphic above, the pending indicator (and year badge, when present) floats too high (or too low in the case of the year badge) when the Place name wraps to two or more lines, thereby increasing the height of the cell.

[2016-11-07 11:42] brew opened #829 "Entry form validation"
Currently, the entry form doesn't have any validation for data types or required fields. This allows users to submit empty or partially complete submissions, potentially blocking the review queue.

- [x] Basic entry form validation for `required` fields (#837)
- [x] Add validationRule loading from spreadsheet (#838, #839)
- [ ] Remove old validation code (#836)

[2016-11-07 11:43] brew commented on #784
This is now complete. Entry form validation has been moved to #829.

[2016-11-07 11:43] #784 closed

[2016-11-07 12:18] brew opened #830 "Data caching"
Lots of data loaded to the main table for the overview page. As this changes fairly infrequently, we could use caching in production to speed things up.

[2016-11-07 12:19] brew commented on #785
Also, note the weird alignment issues with the Dataset heading in the main overview table.

[2016-11-07 12:20] brew opened #831 "Add new Methodology page"
Similar to other content pages, e.g. FAQ. The content will be loaded from the site spreadsheet.

[2016-11-07 12:25] brew opened #832 "Bootstrap new codebase"
Check existing migrations and data bootstrapping scripts are still relevant. Update and remove where necessary.

- [ ] Bootstrap database tables
    - [ ] Squash existing migrations
- [ ] Bootstrap initial data
    - [x] anon user
    - [ ] ?
- [x] Update README where necessary
- [x] Remove old admin scripts

[2016-11-08 07:16] brew opened #833 "Ensure QuestionSets are reloaded when Datasets are reloaded"
If datasets are reloaded, existing dataset data is removed, including associations with QuestionSets. So QuestionSets also have to be reloaded to reestablish the association. This should be done automatically as part of the Dataset reload action.

[2016-11-09 14:38] brew commented on #785
Button styles and header alignment issues fixed (fbb2e91, f4a3d78)

[2016-11-10 08:47] #831 closed

[2016-11-11 12:06] #809 closed

[2016-11-11 12:07] #800 closed

[2016-11-11 12:47] brew opened #834 "Allow Pending submissions to be publicly viewable"
Ensure non-reviewers and anon users can't interact or submit form. Read-only.

[2016-11-14 11:43] #834 closed

[2016-11-14 15:27] #833 closed

[2016-11-18 15:41] brew opened #836 "Remove old validation code"
Previously, validation was done server-side. With #829, this is now done mostly on the client, so the old validation code can be removed. This is mostly in [census/controllers/utils.js](https://github.com/okfn/opendatacensus/blob/94e5dbcf1ade96d8ea500146310ea3decf77bb68/census/controllers/utils.js) and some tests in [tests/submissions.js](https://github.com/okfn/opendatacensus/blob/94e5dbcf1ade96d

[2016-11-18 15:54] brew opened #838 "Support loading validation rules from Question spreadsheet"
#837 adds validation to the entry form for each question. Validation rules can be passed as an array to the QuestionField with `props.validationRules`. These rules (apart from `required` which is added separately as a special case), should be loaded from the Questions spreadsheet CMS as a comma separted list of strings e.g.: `isURL,isLength:10`.

[2016-11-26 14:07] brew opened #840 "NaN% in the Percentage open, at survey home"
_From @ppKrauss on November 26, 2016 10:10_

Hi, at http://global.survey.okfn.org/ a division by zero error in the top of the page.

_Copied from original issue: okfn/opendataindex#160_

[2016-11-28 08:26] #838 closed

[2016-11-28 10:18] brew opened #841 "Update README with 2016 Survey changes"
There have been several changes to the codebase and deployment of the census/survey between 2015 and 2016.

- [x] Determine changes
- [x] Update README (#863)

[2016-11-28 10:21] brew opened #842 "Update census.okfn.org documentation for local sites"
The way local site admins administer Datasets and Questions has changed between 2015 and 2016. These changes need to be reflected in the census/survey documentation hosted at http://census.okfn.org/. Many of the changes that need to be documented can be found in the [`MigrationNotes.md`](https://github.com/okfn/opendatacensus/blob/14a0006ec9bda51495cdfdac14bfbc6a0e0dbda1/MigrationNotes.md) documen

[2016-11-28 10:59] brew opened #843 "Markup changes for survey Entry page"
The survey Entry page, available once an entry has been approved after review, needs mark up changes based on the mockup http://okfnlabs.org/census-mockup/entry/. This is related to the general issue about markup #785.

[2016-11-28 10:59] #785 closed

[2016-11-28 16:05] brew opened #844 "Localization for Survey"
During implementation of the new template design and survey strategy for the 2016 survey, localization wasn't explicitly supported. Much of the supporting code is in place, but new strings need to be marked for translation, and Transifex updated.

The strategy for localizing loaded content (Questions, Datasets, etc) has changed. Site admins are encouraged to manage Questions and Datasets within ta

[2016-11-29 08:16] #829 closed

[2016-11-29 08:28] brew commented on #745
@morchickit Methodology is now an optional top-level navigation item, defined in the site-config under the `methodology_page` key (#831). Does that fix this issue?

[2016-11-29 08:29] #752 closed

[2016-11-29 08:29] #753 closed

[2016-11-29 09:10] brew opened #845 "Flash message styling"
Error styling for the entry form was completed in #812, but flash messages could still use a little love:

![flash message](https://cloud.githubusercontent.com/assets/3993/19858642/23e343fe-9f7a-11e6-96a1-5712c917f1fa.png)

[2016-11-29 09:11] #812 closed

[2016-11-29 10:16] brew opened #846 "API to support new Survey strategy"
Previous versions of the Census provided an API to download questions, datasets, places, and entries in CSV and JSON formats. The previous API framework no longer supports the new format of Questions. Ensure each api endpoint supports the current implementation of the models:

- [x] place
- [x] entry
- [x] question
- [x] dataset
- [x] Provide api download links in site footer

[2016-11-29 14:09] tlacoyodefrijol opened #847 "Community wranglers invoices"

[2016-11-29 14:50] brew opened #848 "Add forum link to pending submission form"
~~This applies only to GODI. Add a link to the GODI discussion forum to the pending submission forum, so issues with the submission can be raised and discussed. https://discuss.okfn.org/c/open-data-index/global-open-data-index-2016~~

Add a per-site config option to define a discussion forum url that will be displayed on pending submissions, so issues with the submission can be raised and discusse

[2016-11-29 14:54] brew commented on #840
This only applies when no submission has yet been Published. Once a submission has been published, the scoring indicator works.

[2016-11-29 15:37] ppKrauss commented on #840
Hi @brew, ok now the site is good (!).

PS: for future versions... and a software engineering principle,   "when no submission has yet been" have non-zero and non-negligible time (was few days!)...  So need a litle `x? k/x: 0` code, is better than `k/x`.

[2016-11-29 16:12] brew commented on #840
@ppKrauss My note above was mostly for myself, so I don't think it's fixed once there have been approved submissions :) I'm not closing this issue yet.

[2016-11-29 21:36] Stephen-Gates commented on #848
Local forum could link to https://discuss.okfn.org/c/open-data-index/local-open-data-index

[2016-11-29 22:44] morchickit commented on #848
I think that it should actually link to the specific local index category,
not the general one.

In any case, we need to have a different issue to the local ones.

On 29 Nov 2016 9:36 p.m., "Stephen Gates" <notifications@github.com> wrote:

[2016-11-30 06:16] pwalsh commented on #848
I don't see why this is a global-only feature. Why not just add a submission discussion flag, in the form of a URL to a forum location? We could follow the discourse params convention to pre populate a new post with a title and a URL back to the submission in the body: https://meta.discourse.org/t/what-are-topic-templates/38295

[2016-11-30 07:34] brew commented on #848
Thanks all - I'll adjust the issue above to allow a forum link to be specified on a per-site basis, and to prepopulate the discource topic appropriately if the forum link is the `discuss.okfn.org` url.

[2016-12-01 08:48] #848 closed

[2016-12-01 12:57] brew opened #850 "Requirement/Spec for Index generation"
The first key user story is the requirement to directly generate the Index site from the Survey/Census codebase (https://trello.com/c/PM7LjKm6). Instead of two separate codebases, the desired outcome is to have the Index re-use as much of the Survey logic and templates as possible, consequently moving from Python to NodeJS.

Work has already been achieved integrating the templates in https://githu

[2016-12-02 09:10] brew opened #851 "Don't save currentValue in Entry.answers object"
`currentValue` is being saved in the Entry.answers json blob. This isn't necessary and can be removed.

[2016-12-06 09:12] #846 closed

[2016-12-06 16:50] brew opened #853 "NodeJS based static site generation for Index"
Static site generation:

1. Gather data from Survey (either using ORM or results of API)
2. Generate static pages from existing Nunjucks templates and gathered data
3. Push output static site to S3 bucket (see #854)

I propose using [Metalsmith](http://www.metalsmith.io/) as the static site generator. Metalsmith has a simple, pluggable pipeline workflow for manipulating content, and an extensive p

[2016-12-06 16:52] brew opened #854 "Push static Index output to S3 bucket"
Once a static site has been generated (#853), it's output needs to be pushed to an appropriate S3 bucket. Consider using:

https://github.com/mwishek/metalsmith-s3 - interactions with AWS

- [x] Determine how to associate a site with an S3 bucket
- [x] Using Metalsmith plugin to export generated site to associated bucket

[2016-12-06 16:53] brew opened #855 "Localization support for Index generation"
Following on from Index static site generation (#853), we also want to support localization.

Existing Metalsmith plugins for localization support:
- https://github.com/doup/metalsmith-multi-language
- https://github.com/macprog-guy/metalsmith-i18next

[2016-12-06 16:58] brew opened #856 "Expose Index generation actions to site admin dashboard"
Index site generation (#853) and export to S3 (#854) should be available as UI actions for site admins using the admin dashboard.

Note, export to S3 may be part of the same action as site generation.